{% extends 'base_accounts.html' %}
{% load i18n %}

{% block title %}
    Nieuw wachtwoord aanmaken
{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card mt-5">
          {% if validlink %}
        <div class="card-body tsa_bc_lightlightgrey">
            <h4>Nieuw wachtwoord aanmaken</h4>
        </div>
      <div class="card-body">
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <div class="pt-3">
                <button type="submit" class="btn btn-primary btn-block">Nieuw wachtwoord aanmaken</button>
              </div>
            </form>
        </div>
          {% else %}
        <div class="card-body tsa_bc_lightlightgrey">
            <h4>Nieuw wachtwoord aanmaken</h4>
        </div>
        <div class="card-body">

            <div class="alert alert-danger" role="alert">
              De link is niet meer geldig.<br>Vraag een nieuwe link aan.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Nieuwe link aanvragen</a>
        </div>
          {% endif %}

      </div>
    </div>
  </div>
{% endblock %}