{% load i18n %}

{% autoescape off %}
Hallo,

Je hebt gevraagd om een nieuw wachtwoord aan te maken voor AWP-online.
Klik op onderstaande link om het nieuwe wachtwoord aan te maken:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Als op de link klikken niet werkt, kun je de URL kopiëren
en in de adresregel van een nieuw browser scherm plakken.

Als dit verzoek niet van jou afkomstig is,
heeft een andere gebruiker waarschijnlijk per ongeluk het verkeerde e-mail adres ingevuld.
In dat geval hoef je geen verdere actie te ondernemen.

Het AWP-online team.

{% endautoescape %}