{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% trans 'Change password' %} {% endblock %}

{% block content %}
    <div class="container tsa_margin_password_change">
        <div id="id_card" class="col-lg-8 col-md-10 col-sm-12">

            <div class="card mt-5">
                <div class="card-header tsa_bc_lightlightgrey">
                    <div class="content_header">
                        <div class="flex_2 mx-1">
                            <h4>{% trans "Change your password" %}</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                    {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-success">{% trans "Change password" %}</button>
                        <a href="{% url 'home_url' %}" class="btn btn-outline-secondary">{% trans "Cancel" %}</a>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}