{% extends 'base_accounts.html' %}
{% load i18n %}

{% block title %}Nieuw wachtwoord{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
<div class="col-lg-4 col-md-6 col-sm-8">
<div class="card mt-5">
  <div class="card-body tsa_bc_lightlightgrey">
    <h4>Nieuw wachtwoord aanmaken</h4>
  </div>
  <div class="card-body">
    <div class="border_bg_transparent">
      <p>Je account is nog niet geactiveerd. Je kunt daarom geen nieuw wachtwoord aanvragen.</p>
      <p>Klik op de link in de e-mail 'Activeer je AWP-online account' om je account te activeren en je wachtwoord aan te maken.</p>
      <p>Vraag een nieuwe e-mail met een activeringslink aan als je hem niet hebt ontvangen of als de link is verlopen.</p>
    </div>

    <div class="pt-3">
      <button class="btn btn-secondary btn-block">Sluiten</button>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}