{% extends 'base_accounts.html' %}
{% load i18n %}

{% block title %}Wachtwoord gewijzigd{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card mt-5">
        <div class="card-body tsa_bc_lightlightgrey">
          <h4>Wachtwoord gewijzigd</h4>
        </div>
        <div class="card-body">
          <div class="p-2 border_bg_valid" role="alert">
            <p>Je hebt met succes een nieuw wachtwoord aangemaakt.</p>
            <p>Je kunt nu inloggen.</p>
          </div>
          <div class="pt-3">
            <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Terug naar inloggen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}