{% extends 'base_accounts.html' %}
{% load i18n %}

{% block title %}Nieuw wachtwoord{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
<div class="col-lg-4 col-md-6 col-sm-8">
<div class="card mt-5">
  <div class="card-body tsa_bc_lightlightgrey">
    <h4>Nieuw wachtwoord aanmaken</h4>
  </div>
  <div class="card-body">
    <div class="border_bg_transparent">
      <p>We hebben een e-mail verzonden naar je e-mail adres<br>met een link om een nieuw wachtwoord aan te maken.</p>
      <p>Als de e-mail niet binnen een paar minuten verschijnt,<br>is hij waarschijnlijk in de map met spam terecht gekomen.</p>
    </div>

    <div class="pt-3">
      <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Terug naar inloggen</a>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}