{% extends 'base_accounts.html' %}
{% load i18n %}

{% block title %}Nieuw wachtwoord{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-8 ">
      <div class="card mt-5">
         <div class="card-body tsa_bc_lightlightgrey">
            <h4>Nieuw wachtwoord aanmaken</h4>
        </div>
        <div class="card-body">
            <div class="border_bg_transparent">
              <p>Als je je wachtwoord vergeten bent<br>kun je hier je schoolcode en e-mail adres invullen.</p>
              <p>Dan sturen we je een e-mail met een link<br>waarmee je een nieuw wachtwoord kunt aanmaken.</p>
            </div>
            <div class="pt-3">
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <div class="pt-3">
              <button type="submit" class="btn btn-primary btn-block">E-mail aanvragen</button>
            </div>
          </form>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}