/* ---------------------------------------------------
    MANUAL STYLE PR2021-06-10 from https://www.w3schools.com/howto/howto_js_dropdown_sidenav.asp
----------------------------------------------------- */
 /* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: #555e65; /* dark grey RGB 85-94-101 */
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 4px 8px 4px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  color: #f1f1f1;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav a {
  padding: 4px 12px 4px 16px;
  font-size: 14px;
}
.dropdown-btn {
  padding: 4px 8px 4px 16px;
  font-size: 16px;
}


/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #2d4e77; /* HeaderBackColor Default Schema Blauw donkerblauw */
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #2d4e77; /* HeaderBackColor Default Schema Blauw donkerblauw */
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.manual_bullet li {
    list-style: inside;
    list-style-type: disc;
    /*padding-left: 2rem;*/
}

.man_underline {
  text-decoration: underline;
}

/* ---- manual_flexcontainer -------------------- */
.mfc {
    display: flex;
        display: -webkit-box;
        display: -ms-flexbox;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap; /* flex-direction: row | row-reverse | column | column-reverse; */
        flex-flow: row wrap; /* flex-wrap: nowrap | wrap | wrap-reverse;  */
    /*  flex-flow: is a shorthand flex-direction and flex-wrap <‘flex-direction’> || <‘flex-wrap’>  */

    -webkit-box-pack: between;
    -ms-flex-pack: between;
        justify-content: space-between;  /* center space-between; space-around PR2019-01-05 */

    /*  align-items defines how flex items are laid out along the cross axis on the current line. */
     -webkit-box-align: stretch;
         -ms-flex-align: stretch;
             align-items: stretch;   /*   align-items: stretch | flex-start | flex-end | center |  */

    /*  align-content aligns a flex container's lines within when there is extra space in the cross-axis,   */
    -ms-flex-line-pack: start;
        align-content: flex-start;  /* flex-start | flex-end | center | space-between | space-around | stretch; */

    position:relative;

    /*line-height: 1.15rem; */

    /* padding: 1rem 0.5rem 0.25rem 0.5rem;*/
    /*padding: 0.5rem 0.5rem 0.25rem 0.5rem;*/
    padding: 0px;
}

.mfl {
    width: 5%;
}
.mfr {
    width: 93%;
}
.mfl>p, .mfr>p {
    padding-bottom: 8px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .sidenav {
        margin-left: -220px;
    }
    .sidenav .active {
        margin-left: 0;
    }
    .sidenav span {
        display: none;
    }

}

/* ---------------------------------------------------
    IMAGES - HOME PAGE
----------------------------------------------------- */

.img_home_titlebar {
    background-repeat: no-repeat;
    margin-left: 32px;
}
.img_home_titlebar {
    height: 424px; /* original is   424; */
    width: 1075px; /* original is   1075; */
    background-image: url('/static/manual/home_titlebar.png');
    background-size: 1075px 424px;
}


/* ---------------------------------------------------
    IMAGES - UPLOAD CANDIDATES
----------------------------------------------------- */

.img_upload_stud_menu, .img_upload_stud_step1, .img_upload_stud_step2,
.img_upload_stud_step3, .img_upload_stud_step4, .img_upload_stud_step5 {
    background-repeat: no-repeat;
    margin-left: 32px;
}
.img_upload_stud_menu {
    height: 200px; /* original is   200; */
    width: 1087px; /* original is   1087; */
    background-image: url('/static/manual/stud_upload_menu.png');
    background-size: 1087px 200px;
}
.img_upload_stud_step1 {
    height: 529px; /* original is   529; */
    width: 801px; /* original is   801; */
    background-image: url('/static/manual/stud_upload_step1.png');
    background-size: 801px 529px;
}
.img_upload_stud_step2 {
    height: 803px; /* original is   803; */
    width: 801px; /* original is   801; */
    background-image: url('/static/manual/stud_upload_step2.png');
    background-size: 801px 803px;
}
.img_upload_stud_step3 {
    height: 554px; /* original is   803; */
    width: 801px; /* original is   801; */
    background-image: url('/static/manual/stud_upload_step3.png');
    background-size: 801px 554px;
}
.img_upload_stud_step4 {
    height: 502px; /* original is   655; */
    width: 801px; /* original is   1160; */
    background-image: url('/static/manual/stud_upload_step4.png');
    background-size: 801px 502px;
}
.img_upload_stud_step5 {
    height: 803px; /* original is   655; */
    width: 801px; /* original is   1160; */
    background-image: url('/static/manual/stud_upload_step5.png');
    background-size: 801px 803px;
}
