/* ---------------------------------------------------
    MANUAL STYLE PR2021-06-10 from https://www.w3schools.com/howto/howto_js_dropdown_sidenav.asp
----------------------------------------------------- */
 /* Fixed sidenav, full height */
.man_sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 48px;
  left: 0;
  background-color: #555e65; /* dark grey RGB 85-94-101 */
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 4px 8px 4px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  color: #f1f1f1;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav a {
  padding: 4px 12px 4px 16px;
  font-size: 14px;
}
.dropdown-btn {
  padding: 4px 8px 4px 16px;
  font-size: 16px;
}


/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #2d4e77; /* HeaderBackColor Default Schema Blauw donkerblauw */
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #2d4e77; /* HeaderBackColor Default Schema Blauw donkerblauw */
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.manual_bullet li {
    list-style: inside;
    list-style-type: disc;
    /*padding-left: 2rem;*/
}

.man_underline {
  text-decoration: underline;
}

/* ---- manual_flexcontainer -------------------- */
.mfc {
    display: flex;
        display: -webkit-box;
        display: -ms-flexbox;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap; /* flex-direction: row | row-reverse | column | column-reverse; */
        flex-flow: row wrap; /* flex-wrap: nowrap | wrap | wrap-reverse;  */
    /*  flex-flow: is a shorthand flex-direction and flex-wrap <‘flex-direction’> || <‘flex-wrap’>  */

    -webkit-box-pack: between;
    -ms-flex-pack: between;
        justify-content: space-between;  /* center space-between; space-around PR2019-01-05 */

    /*  align-items defines how flex items are laid out along the cross axis on the current line. */
     -webkit-box-align: stretch;
         -ms-flex-align: stretch;
             align-items: stretch;   /*   align-items: stretch | flex-start | flex-end | center |  */

    /*  align-content aligns a flex container's lines within when there is extra space in the cross-axis,   */
    -ms-flex-line-pack: start;
        align-content: flex-start;  /* flex-start | flex-end | center | space-between | space-around | stretch; */

    position:relative;

    /*line-height: 1.15rem; */

    /* padding: 1rem 0.5rem 0.25rem 0.5rem;*/
    /*padding: 0.5rem 0.5rem 0.25rem 0.5rem;*/
    padding: 0px;
}

.mfl {
    width: 5%;
}
.mfr {
    width: 93%;
}
.mfl>p, .mfr>p {
    padding-bottom: 8px;
}

.mx_auto {
    margin-right: auto;
    margin-left: auto;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .sidenav {
        margin-left: -220px;
    }
    .sidenav .active {
        margin-left: 0;
    }
    .sidenav span {
        display: none;
    }

}

/* ---------------------------------------------------
    IMAGES - HOME PAGE
----------------------------------------------------- */

.img_home_titlebar {
    background-repeat: no-repeat;
    margin-left: 32px;
}
.img_home_titlebar {
    height: 424px; /* original is   424; */
    width: 1075px; /* original is   1075; */
    background-image: url('/static/manual/home_titlebar.png');
    background-size: 1075px 424px;
}
/* ---------------------------------------------------
    IMAGES - INTRO
----------------------------------------------------- */
.img_page_layout_ne, .img_page_layout_en,
.img_intro_select_window_ne, .img_intro_select_window_en,
.img_intro_filterrow_ne, .img_intro_filterrow_en,
.img_intro_hide_columns_ne, .img_intro_hide_columns_en {
    background-repeat: no-repeat;
    margin-left: 8px;
}
.img_page_layout_ne, .img_page_layout_en {
    height: 424px;
    width: 1075px;
    background-size: 1075px 424px;
 }
.img_page_layout_ne {
    background-image: url('/static/manual/page_layout_ne.png');
}
.img_upload_stud_menu_en {
    background-image: url('/static/manual/page_layout_en.png');
}

.img_intro_select_window_ne, .img_intro_select_window_en {
    width: 797px;
    height: 313px;
    background-size: 797px 313px;
 }
.img_intro_select_window_ne {
    background-image: url('/static/manual/intro_select_window_ne.png');
}

.img_intro_select_window_en {
    background-image: url('/static/manual/intro_select_window_en.png');
}

.img_intro_filterrow_ne, .img_intro_filterrow_en {
    width: 797px;
    height: 130px;
    background-size: 797px 130px;
 }
.img_intro_filterrow_ne {
    background-image: url('/static/manual/intro_filterrow_ne.png');
}
.img_intro_filterrow_en {
    background-image: url('/static/manual/intro_filterrow_en.png');
}

.img_intro_hide_columns_ne, .img_intro_hide_columns_en {
    width: 797px;
    height: 391px;
    background-size: 797px 391px;
 }
.img_intro_hide_columns_ne {
    background-image: url('/static/manual/intro_hide_columns_ne.png');
}
.img_intro_hide_columns_en {
    background-image: url('/static/manual/intro_hide_columns_en.png');
}



/* ---------------------------------------------------
    IMAGES - UPLOAD CANDIDATES
----------------------------------------------------- */

.img_upload_stud_menu_ne, .img_upload_stud_menu_en,
.img_upload_stud_step1_ne, .img_upload_stud_step1_en,
.img_upload_stud_step2_ne, .img_upload_stud_step2_en,
.img_upload_stud_step3_ne, .img_upload_stud_step3_en,
.img_upload_stud_step4_ne, .img_upload_stud_step4_en,
.img_upload_stud_step5_ne, .img_upload_stud_step5_en {
    background-repeat: no-repeat;
    margin-left: 8px;
}

.img_upload_stud_menu_ne, .img_upload_stud_menu_en {
    height: 130px;
    width: 1080px;
    background-size: 1080px 130px;
 }
.img_upload_stud_menu_ne {
    background-image: url('/static/manual/stud_upload_menu_ne.png');
}
.img_upload_stud_menu_en {
    background-image: url('/static/manual/stud_upload_menu_en.png');
}

.img_upload_stud_step1_ne, .img_upload_stud_step1_en {
    height: 571px;
    width: 1138px;
    background-size: 1138px 571px;
}
.img_upload_stud_step1_ne {
    background-image: url('/static/manual/stud_upload_step1_ne.png');
}
.img_upload_stud_step1_en {
    background-image: url('/static/manual/stud_upload_step1_en.png');
}

.img_upload_stud_step2_ne, .img_upload_stud_step2_en {
    height: 750px;
    width: 1138px;
    background-size: 1138px 750px;
}
.img_upload_stud_step2_ne {
    background-image: url('/static/manual/stud_upload_step2_ne.png');
}
.img_upload_stud_step2_en {
    background-image: url('/static/manual/stud_upload_step2_en.png');
}

.img_upload_stud_step3_ne, .img_upload_stud_step3_en {
    height: 525px;
    width: 1138px;
    background-size: 1138px 525px;
}
.img_upload_stud_step3_ne {
    background-image: url('/static/manual/stud_upload_step3_ne.png');
}
.img_upload_stud_step3_en {
    background-image: url('/static/manual/stud_upload_step3_en.png');
}

.img_upload_stud_step4_ne, .img_upload_stud_step4_en,
.img_upload_stud_step5_ne, .img_upload_stud_step5_en {
    height: 500px;
    width: 1138px;
    background-size: 1138px 500px;
}
.img_upload_stud_step4_ne {
    background-image: url('/static/manual/stud_upload_step4_ne.png');
}
.img_upload_stud_step4_en {
    background-image: url('/static/manual/stud_upload_step4_en.png');
}
.img_upload_stud_step5_ne {
    background-image: url('/static/manual/stud_upload_step5_ne.png');
}
.img_upload_stud_step5_en {
    background-image: url('/static/manual/stud_upload_step5_en.png');
}
/* ---------------------------------------------------
    IMAGES - STUDENT SUBJECTS
----------------------------------------------------- */

.img_studsubj_tab_subj_ne, .img_studsubj_tab_subj_en,
.img_studsubj_mod_studsubj_ne, .img_studsubj_mod_studsubj_en,
.img_studsubj_tab_subj_ok {
    background-repeat: no-repeat;
    margin-left: 8px;
}
.img_studsubj_tab_subj_ne, .img_studsubj_tab_subj_en {
    width: 1138px;
    height: 440px;
    background-size: 1138px 440px;
 }
.img_studsubj_tab_subj_ne {
    background-image: url('/static/manual/studsubj_tab_subj_ne.png');
}
.img_studsubj_tab_subj_en {
    background-image: url('/static/manual/studsubj_tab_subj_en.png');
}

.img_studsubj_mod_studsubj_ne, .img_studsubj_mod_studsubj_en {
    width: 1138px;
    height: 584px;
    background-size: 1138px 584px;
 }
.img_studsubj_mod_studsubj_ne {
    background-image: url('/static/manual/studsubj_mod_studsubj_ne.png');
}
.img_studsubj_mod_studsubj_en {
    background-image: url('/static/manual/studsubj_mod_studsubj_en.png');
}

.img_studsubj_tab_subj_ok {
    width: 969px;
    height: 82px;
    background-size: 969px 82px;
    background-image: url('/static/manual/studsubj_tab_subj_ok.png');
 }

.img_studsubj_exclamationsign {
    background-position: -120px -40px;
    background-image: url('/static/img/notes210314.png');
    background-size: 360px 120px;

    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin: auto;

 }


/* ---------------------------------------------------
    IMAGES - APPOVE SUBJECTS
----------------------------------------------------- */

.img_studsubj_approve_menu_ne, .img_studsubj_approve_menu_en,
.img_studsubj_mod_approve_ne, .img_studsubj_mod_approve_en {
    background-repeat: no-repeat;
    margin-left: 8px;
}
.img_studsubj_approve_menu_ne, .img_studsubj_approve_menu_en {
    height: 130px;
    width: 1138px;
    background-size: 1138px 130px;
 }
.img_studsubj_approve_menu_ne {
    background-image: url('/static/manual/studsubj_approve_menu_ne.png');
}
.img_studsubj_approve_menu_en {
    background-image: url('/static/manual/studsubj_approve_menu_en.png');
}

.img_studsubj_mod_approve_ne, .img_studsubj_mod_approve_en {
    height: 500px;
    width: 797px;
    background-size: 797px 500px;
 }
.img_studsubj_mod_approve_ne {
    background-image: url('/static/manual/studsubj_mod_approve_ne.png');
}
.img_studsubj_mod_approve_en {
    background-image: url('/static/manual/studsubj_mod_approve_en.png');
}