{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">AWP online</a></li>
    <li class="breadcrumb-item">
      {{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">
      {{ user.examyear_str }}
      {% if user.examyear_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item active">{% trans 'Log' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_students_modify %}
    <h4>{% trans 'Log of:' %} {{ student.full_name }}</h4>
    <table class="table table table-condensed">
      <thead class="thead-inverse">
        <tr>
          <th>{% trans 'studentsubject_log' %}</th>
          <th>{% trans 'examcode' %}</th>
          <th>{% trans 'gradeclass' %}</th>
          <th>{% trans 'value' %}</th>
          <th>{% trans 'status' %}</th>


          <th>{% trans 'Modified by' %}</th>
          <th>{% trans 'Modified at' %}</th>
          <th>{% trans 'Action' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in grade_log.all %}
          <tr>
            <td>{% if item.studentsubject_log_mod %}<b>{% endif %}{{ item.studentsubject_log }}</b></td>
            <td>{% if item.examcode_mod %}<b>{% endif %}{{ item.examcode }}</b></td>
            <td>{% if item.gradeclass_mod %}<b>{% endif %}{{ item.gradeclass }}</b></td>
            <td>{% if item.value_mod %}<b>{% endif %}{{ item.value }}</b></td>
            <td>{% if item.status_mod %}<b>{% endif %}{{ item.status }}</b></td>

            <td>{{ item.modified_by }}</td>
            <td>{{ item.modified_at }}</td>
            <td>{{ item.mode_str }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


    <a href="{% url 'grade_list_url' %}" class="btn btn-outline-primary">{% trans 'Close' %}</a>
  {% else %}
    <div class="alert alert-danger">{{ user.message_students_modify }}</div>
    <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}l>