{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Grades' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/import220630.js' %}"></script>
    <script src="{% static 'js/grades220631.js' %}"></script>
    <script src="{% static 'js/download220105.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="awp_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Grades' %}</h3>
        </div>
        {% if not no_access %}

            <div id="id_SBR_container_examtype" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Exam type' %}:</h6>
                <select id="id_SBR_select_examtype" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>
            <div id="id_SBR_container_level" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Leerweg' %}:</h6>
                <select id="id_SBR_select_level" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_sector" class="tw_200 m-2 display_hide">
                <h6 id="id_SBR_select_sector_label" class="tw_200 line_height_normal px-2"></h6>
                <select id="id_SBR_select_sector" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_subject" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Subject' %}:</h6>
                <input id="id_SBR_select_subject" type="text"
                    class="tw_200 border_none pointer_show px-2" readonly>
            </div>

            <div class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Cluster' %}:</h6>
               <input id="id_SBR_select_cluster" type="text"
                    class="tw_200 border_none pointer_show px-2" readonly>
            </div>

            <div class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Candidate' %}:</h6>
                <input id="id_SBR_select_student" type="text"
                    class="tw_200 border_none pointer_show px-1" readonly>
            </div>

            <div id="id_SBR_container_showall" class="tw_200 m-2 display_hide">
                <h6 id="id_SBR_select_showall" class="tw_200 pointer_show line_height_normal px-2 py-1">{% trans 'Show all from this period' %}</h6>
            </div>

            <div class="tw_200 m-2">
                <p id="id_SBR_item_count" class="tw_200 line_height_normal py-1"></p>
            </div>
        {% endif %}
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div id="id_content">
        {% if no_access %}
            {% include 'includes/message_noaccess.html' %}
        {% elif messages %}
            <div class="content_margin_top78 m-4 pt-5">
                {% for message in messages %}
                    <div class="m-4 p-4 alert border_bg_invalid">{{ message }}</div>
                {% endfor %}
            </div>

        {% else %}
            {% include 'includes/modselectexamyearordepbase.html' %}
            {% include 'includes/modselectschoolsubjectstudent.html' %}
            {% include 'includes/modselectcolumns.html' %}
            {% include 'includes/modselectexam.html' %}
            {% include 'students/modapprovegrade.html' %}
            {% include 'students/modselectex3.html' %}
            {% include 'includes/modstatus.html' %}
            {% include 'includes/modnote.html' %}
            {% include 'includes/modimport.html' %}
            {% include 'includes/modconfirm.html' %}
            {% include 'includes/modmessage.html' %}

    <!-- CONTENT HEADER - LOADER -->
            <div class="content_margin_top78">
                <div class="flex_4 mx-4 visibility_hide">
                    <h5 id="id_header_left"></h5>
                </div>
    <!-- loader -->
                <div class="flex_1 py-2">
                    {% include 'includes/loader.html' %}
                </div>
            </div>
            <!-- end content_header -->

    <!-- BUTTON GROUP -->
                <div id="id_btn_container" class="btn-group btn-block pl-2 pr-4 my-2" role="group" aria-label="Choose option" >
                    <button data-btn="btn_exem" class="btn btn-secondary ">{% trans 'Exemptions' %}</button>
                    <button data-btn="btn_ep_01" class="btn btn-secondary ">{% trans 'First exam period' %}</button>
                    {% if not no_centralexam %}
                        <button data-btn="btn_reex" class="btn btn-secondary ">{% trans 'Second exam period' %}</button>
                        {% if not no_thirdperiod %}
                            <button data-btn="btn_reex03" class="btn btn-secondary ">{% trans 'Third exam period' %}</button>
                        {% endif %}
                    {% endif %}
                </div>
    <!-- end BUTTON GROUP -->
    <!-- END OF CONTENT HEADER -->
    <!-- CONTENT BODY -->
    <!-- =================== DATA TABLE  =================== -->
                <div id="id_tbl_container" class="content_body ml-2 mr-4">
                    <table class="table tsa_tbl">
                        <thead id="id_tblHead_datatable"></thead>
                        <tbody id="id_tblBody_datatable"></tbody>
                    </table>
                </div>
    <!-- =================== END DATA TABLE  =================== -->
    <!-- END OF CONTENT BODY -->
                <div id="id_data"
                    data-url_user_modmsg_hide="{% url 'url_user_modmsg_hide' %}"
                    data-url_datalist_download="{% url 'url_datalist_download' %}"
                    data-url_usersetting_upload="{% url 'url_usersetting_upload' %}"
                    data-url_student_upload="{% url 'url_student_upload' %}"
                    data-url_studsubj_upload="{% url 'url_studsubj_upload' %}"
                    data-url_grade_upload="{% url 'url_grade_upload' %}"

                    data-url_grade_approve="{% url 'url_grade_approve' %}"
                    data-url_grade_submit_ex2="{% url 'url_grade_submit_ex2' %}"
                    data-url_grade_block="{% url 'url_grade_block' %}"

                    data-download_grade_icons_url="{% url 'download_grade_icons_url' %}"
                    data-download_published_url="{% url 'grades_download_published_url' %}"
                    data-url_grade_download_ex2="{% url 'url_grade_download_ex2' %}"
                    data-url_grade_download_ex2a="{% url 'url_grade_download_ex2a' %}"
                    data-url_send_email_verifcode="{% url 'url_send_email_verifcode' %}"
                    data-url_studentsubjectnote_upload="{% url 'url_studentsubjectnote_upload' %}"
                    data-studentsubjectnote_download_url="{% url 'studentsubjectnote_download_url' %}"
                    data-noteattachment_download_url="{% url 'noteattachment_download_url' pk_int=0 %}"
                    data-url_exam_download_conversion_pdf="{% url 'url_exam_download_conversion_pdf'  '-' %}"

                >
                </div>
        {% endif %}
    </div>
{% endblock %}