{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Grades' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/grades210711.js' %}"></script>
    <script src="{% static 'js/download210306.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="awp_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Grades' %}</h3>
        </div>
        {% if not no_access %}
            <div id="id_SBR_container_examperiod" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Period' %}:</h6>
                <select id="id_SBR_select_period" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_examtype" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Exam type' %}:</h6>
                <select id="id_SBR_select_examtype" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               >
                </select>
            </div>

            <div id="id_SBR_container_level" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Leerweg' %}:</h6>
                <select id="id_SBR_select_level" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_sector" class="tw_200 m-2 display_hide">
                <h6 id="id_SBR_select_sector_label" class="tw_200 line_height_normal px-2"></h6>
                <select id="id_SBR_select_sector" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_subject" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Subject' %}:</h6>
                <input id="id_SBR_select_subject" type="text"
                    class="tw_200 border_none pointer_show px-2" readonly>
            </div>

            <div id="id_SBR_container_cluster" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Cluster' %}:</h6>
               <input id="id_SBR_select_cluster" type="text"
                    class="tw_200 border_none pointer_show px-2" readonly>
            </div>

            <div id="id_SBR_container_student" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Candidate' %}:</h6>
                <input id="id_SBR_select_student" type="text"
                    class="tw_200 border_none pointer_show px-1" readonly>
            </div>

            <div id="id_SBR_container_showall" class="tw_200 m-2 display_hide">
                <h6 id="id_SBR_select_showall" class="tw_200 pointer_show line_height_normal px-2 py-1">{% trans 'Show all from this period' %}</h6>
            </div>
        {% endif %}
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div id="id_content">
        {% if no_access %}
            {% include 'includes/message_noaccess.html' %}
        {% else %}
            {% include 'includes/modselectexamyearordepbase.html' %}
            {% include 'includes/modselectschoolsubjectstudent.html' %}
            {% include 'students/modapprovegrade.html' %}
            {% include 'includes/modconfirm.html' %}
            {% include 'includes/modstatus.html' %}
            {% include 'includes/modnote.html' %}
            {% include 'includes/modmessage.html' %}

            <div class="content_margin_top78">
                {% include 'includes/messages.html' %}

    <!-- BUTTON GROUP -->
                <div id="id_btn_container" class="btn-group btn-block pl-2 pr-4 my-2" role="group" aria-label="Choose option" >
                    <button data-btn="grade_by_subject" class="btn btn-secondary ">{% trans 'Grades by subject' %}</button>
                    <button data-btn="grade_by_student" class="btn btn-secondary ">{% trans 'Grades by candidate' %}</button>
                    <button data-btn="grade_by_all" class="btn btn-secondary ">{% trans 'All grades' %}</button>
                    <button data-btn="grade_published" class="btn btn-secondary ">{% trans 'Submitted Ex forms' %}</button>
                </div>
    <!-- end BUTTON GROUP -->

    <!-- CONTENT HEADER - LOADER -->
                <div class="content_header flex_container">
        <!-- submenu -->
                    <div id="id_submenu" class="mt-5">
                    </div>
        <!-- left header_text -->
                    <div class="flex_4 pl-4 py-2">
                        <h5 id="id_hdr_left"></h5>
                    </div>
        <!-- loader -->
                    <div class="flex_1 py-2">
                        {% include 'includes/loader.html' %}
                    </div>

        <!-- right header_text -->
                    <div class="text_align_right flex_4 pr-4 py-2">
                        <h5 id="id_hdr_textright1"></h5>
                    </div>
                </div>
    <!-- CONTENT BODY -->

                <div id="id_tbl_container" class="content_body ml-2 mr-4">
    <!-- =================== DATA TABLE  =================== -->
                    <table class="table tsa_tbl">
                        <thead id="id_tblHead_datatable"></thead>
                        <tbody id="id_tblBody_datatable"></tbody>
                    </table>
                </div>
    <!-- =================== END DATA TABLE  =================== -->
    <!-- END OF CONTENT BODY -->
                <div id="id_data"
                    data-url_datalist_download="{% url 'url_datalist_download' %}"
                    data-url_settings_upload="{% url 'url_settings_upload' %}"
                    data-url_student_upload="{% url 'url_student_upload' %}"
                    data-url_studsubj_upload="{% url 'url_studsubj_upload' %}"
                    data-grade_upload_url="{% url 'grade_upload_url' %}"
                    data-grade_approve_url="{% url 'grade_approve_url' %}"
                    data-download_grade_icons_url="{% url 'download_grade_icons_url' %}"
                    data-download_published_url="{% url 'grades_download_published_url' %}"
                    data-grade_download_ex2a_url="{% url 'grade_download_ex2a_url' %}"
                    data-studentsubjectnote_upload_url="{% url 'studentsubjectnote_upload_url' %}"
                    data-studentsubjectnote_download_url="{% url 'studentsubjectnote_download_url' %}"
                    data-noteattachment_download_url="{% url 'noteattachment_download_url' pk_int=0 %}"
                >
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}