{% load i18n %}
{% load static %}

<!-- =================== MODAL APPROVE GRADE AND APPROVE EXAM =================== -->
<div class="modal" id="id_mod_approve_grade" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">

            <div class="modal-header tsa_bc_lightlightgrey">
                <a href="{% url 'manual_url' 'approve' 'intro' %}" target="_blank" title="{% trans 'Open manual' %}" aria-label="Manual"> <div class="questionmark"></div> </a>

                <h4 id="id_MAG_header" class="modal-title mx-2" ></h4>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body p-4">
                <div id="id_MAG_input_container " class="border_bg_message">
                    <div class="flex_container">
                        <div class="flex_1 m-2">
                             <h6 id="id_MAG_subheader" class="mx-2" ></h6>
                        </div>
                    </div>

                    <div class="flex_container">
                        <div class="flex_1 m-2">
                            <label for="id_MAG_examperiod" class="mx-2 ">{% trans 'Exam period' %}:</label>
                            <div id="id_MAG_examperiod" class="form-control p-2"></div>
                        </div>
                        <div class="flex_1 m-2">
                            <label for="id_MAG_examtype" class="mx-2 ">{% trans 'Exam type' %}:</label>
                            <div id="id_MAG_examtype" class="form-control p-2"></div>
                        </div>
                        <div class="flex_1 m-2">
                            <label id="id_MAG_approved_by_label" for="id_MAG_approved_by" class="mx-2 "></label>
                            <div id="id_MAG_approved_by" class="form-control p-2"></div>
                        </div>
                        <div class="flex_1 m-2">
                            <label for="id_MAG_auth_index" class="mx-2 ">{% trans 'Function' %}:</label>
                            <select id="id_MAG_auth_index" class="form-control mb-0"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;"></select>
                        </div>
                    </div>
                    <div id="id_MAG_subj_lvl_cls_container">
                        <div class="flex_container">
                            <div class="flex_1 m-2">
                                <label for="id_MAG_subject" class="mx-2">{% trans 'Subject' %}:</label>
                                <div id="id_MAG_subject" class="form-control p-2"></div>
                            </div>

                            <div class="flex_1 m-2">
                                <label for="id_MAG_lvlbase" class="mx-2 ">{% trans 'Level' %}:</label>
                                <div id="id_MAG_lvlbase" class="form-control p-2"></div>
                            </div>
                            <div class="flex_1 m-2">
                                <label for="id_MAG_cluster" class="mx-2 ">{% trans 'Cluster' %}:</label>
                                <div id="id_MAG_cluster" class="form-control p-2"></div>
                            </div>
                        </div>

                        <small class="mx-4" >{% trans 'You can change the selection in de vertical grey bar on the left of the page.' %}</small>

                    </div>
                </div>

                <div id="id_MAG_info_container" class="mx-4 mt-2 tab_show tab_step_0 display_hide">
                </div>

                <div id="id_MAG_loader" class="display_hide mx-4 mt-2">
                    <div class="image_container">
                        <img src="{% static 'img/loader.gif' %}" class="icon_24">
                    </div>
                </div>

                <div id="id_MAG_msg_container" class="mt-2 p-2 tab_show tab_step_1 tab_step_2 display_hide">
                </div>

                <div id="id_MAG_info_request_verifcode" class="mx-0 mt-2 p-2 border_bg_transparent display_hide">
                    <p id="id_MAG_info_request_msg1" ></p>
                    <p>{% trans "Click 'Request verification code' and we will send you an email with the verification code." %}</p>
                    <p>{% trans "The verification code expires in 30 minutes." %}</p>
                </div>

                <div class="display_hide">
                    <label for="id_MAG_input_verifcode" class="label_margin_top_m2">{% trans 'Verification code' %}:</label>
                    <input id="id_MAG_input_verifcode" type="text" data-field="verificationcode" class="form-control"
                        autocomplete="off" ondragstart="return false;" ondrop="return false;">
                </div>
            </div>

            <div class="modal-footer">
                <div class="content_subheader_left mx-1">
                    <button id="id_MAG_btn_delete" data-dismiss="modal" class="btn btn-outline-danger">{% trans 'Remove approvals' %}</button>
                </div>
                <div class="content_subheader_right">
                    <button id="id_MAG_btn_cancel" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <button id="id_MAG_btn_save" class="btn btn-primary">{% trans 'Approve' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =================== END MODAL CONFIRM  =================== -->