{% load i18n %}
{% load static %}

<!-- =================== MODAL MULTIPLE OCCURRENCES  =================== -->
<div class="modal" id="id_mod_multiple_occurrences" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">

            <div class="modal-header tsa_bc_lightlightgrey">
                <a href="{% url 'manual_url' 'approve' 'intro' %}" target="_blank" title="{% trans 'Open manual' %}" aria-label="Manual"> <div class="questionmark"></div> </a>

                <h4 id="id_MMUOC_header" class="modal-title mx-2" >{% trans "Link matching candidates" %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body p-4">
                <div class="p-2 border_bg_transparent">

                    <small>{% trans 'AWP has found other candidates with the same ID-number. Probably, they are the same as the current candidate.' %}</small>
                        <ul class="mb-0">
                            <li><small>{% trans "Click the tickmark icon if it is the same candidate." %}</small></li>
                            <li><small>{% trans "Click the crosss icon if it is not the same candidate or if you are not sure." %}</small></li>
                            <li><small>{% trans "If there are multiple other candidates, you must tick off all candidates that are the same as the current candidate." %}</small></li>
                        </ul>
                    <small>{% trans "Ticking off a candidate has no effect on the candidate data." %} {% trans "AWP only uses it to enter exemptions automatically." %}</small>

                </div>

                <div id="id_MMUOC_data_container" class="mx-0 mt-2">
                </div>

            </div>
            <div class="modal-footer">
                <div class="content_subheader_left mx-1">
                    <button id="id_MMUOC_btn_showall" class="btn btn-outline-secondary"></button>
                </div>
                <div class="content_subheader_right">
                    <button id="id_MMUOC_btn_cancel" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =================== END MODAL CONFIRM  =================== -->