 {% load i18n %}
{% load static %}

 <!-- =================== MODAL STUDENT  =================== -->
    <div class="modal" id="id_mod_student" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MSTUD_hdr" class="modal-title mx-2" ></h4>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div id="id_MSTUD_div_form_controls" class="modal-body pb-0">
                     <div class="content_header">
                         <div class="flex_3 mx-1">
                            <label for="id_MSTUD_lastname" class="label_margin_top_m3">{% trans 'Last name' %}:</label>
                            <input id="id_MSTUD_lastname" type="text" data-field="lastname" class="form-control"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;">
                         </div>
                         <div class="flex_4  mx-1">
                            <label for="id_MSTUD_firstname" class="label_margin_top_m3">{% trans 'First names' %}:</label>
                            <input id="id_MSTUD_firstname" type="text" data-field="firstname" class="form-control"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;">
                         </div>
                         <div class="flex_1 mx-1">
                            <label for="id_MSTUD_prefix" class="label_margin_top_m3">{% trans 'Prefix' %}:</label>
                            <input id="id_MSTUD_prefix" type="text" data-field="prefix" class="form-control"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;">
                         </div>
                         <div class="flex_1 mx-1">
                            <label for="id_MSTUD_gender" class="label_margin_top_m3">{% trans 'Gender' %}:</label>
                             <select id="id_MSTUD_gender" data-field= "gender" class="form-control"
                                   autocomplete="off" ondragstart="return false;" ondrop="return false;">
                               <!--  <option value="">-</option> -->
                                 <option value="M">{% trans 'M' %}</option>
                                 <option value="V">{% trans 'F' %}</option>
                            </select>
                         </div>

                      </div>
                     <div class="content_header">
                         <div class="content_subheader_left mx-2">
                              <small id="id_MSTUD_err_lastname" class="text-danger"></small>
                         </div>
                         <div class="content_subheader_left mx-2">
                              <small id="id_MSTUD_err_firstname" class="text-danger"></small>
                         </div>
                         <div class="content_subheader_left mx-2">
                              <small id="id_MSTUD_err_prefix" class="text-danger"></small>
                         </div>
                         <div class="content_subheader_left mx-2">
                              <small id="id_MSTUD_err_gender" class="text-danger"></small>
                         </div>
                     </div>
                     <div class="content_header">
                         <div class="content_subheader_left mx-1">
                            <label for="id_MSTUD_idnumber" class="label_margin_top_m3">{% trans 'ID-number' %}:</label>
                            <input id="id_MSTUD_idnumber" type="text" data-field="idnumber" class="form-control"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;">
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_MSTUD_birthdate" class="label_margin_top_m3">{% trans 'Birth date' %}:</label>
                            <input id="id_MSTUD_birthdate" type="date" data-field= "birthdate" class="form-control"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;">
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_MSTUD_birthcountry" class="label_margin_top_m3">{% trans 'Birth country' %}:</label>
                            <input id="id_MSTUD_birthcountry" type="text" data-field= "birthcountry" class="form-control"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;">
                         </div>
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_MSTUD_birthcity" class="label_margin_top_m3">{% trans 'Place of birth' %}:</label>
                            <input id="id_MSTUD_birthcity" type="text" data-field= "birthcity" class="form-control"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;">
                         </div>
                     </div>
                     <div class="content_header">
                         <div class="content_subheader_left mx-2">
                              <small id="id_MSTUD_err_idnumber" class="text-danger"></small>
                         </div>
                         <div class="content_subheader_left mx-2">
                              <small id="id_MSTUD_err_birthdate" class="text-danger"></small>
                         </div>
                         <div class="content_subheader_left mx-2">
                              <small id="id_MSTUD_err_birthcountry" class="text-danger"></small>
                         </div>
                         <div class="content_subheader_left mx-2">
                              <small id="id_MSTUD_err_birthcity" class="text-danger"></small>
                         </div>
                     </div>
                     <div class="content_header">
                         <div class="content_subheader_left mx-1 ">
                            <label for="id_MSTUD_regnumber" class="label_margin_top_m3">{% trans 'Registration number' %}:</label>
                            <input id="id_MSTUD_regnumber" type="text" data-field= "regnumber" class="form-control"
                                readonly autocomplete="off" ondragstart="return false;" ondrop="return false;">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_MSTUD_examnumber" class="label_margin_top_m3">{% trans 'Exam number' %}:</label>
                            <input id="id_MSTUD_examnumber" type="text" data-field= "examnumber" class="form-control"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;">
                         </div>

                         <div class="content_subheader_left mx-1">
                            <label for="id_MSTUD_diplomanumber" class="label_margin_top_m3">{% trans 'Diploma number' %}:</label>
                            <input id="id_MSTUD_diplomanumber" type="text" data-field= "diplomanumber" class="form-control"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;">
                         </div>
                         <div class="content_subheader_left mx-1">
                            <label for="id_MSTUD_gradelistnumber" class="label_margin_top_m3">{% trans 'Grade list number' %}:</label>
                            <input id="id_MSTUD_gradelistnumber" type="text" data-field= "gradelistnumber" class="form-control"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;">
                         </div>
                     </div>
                     <div class="content_header">
                         <div class="content_subheader_left mx-2">
                              <small id="id_MSTUD_err_regnumber" class="text-danger"></small>
                         </div>
                         <div class="content_subheader_left mx-2">
                              <small id="id_MSTUD_err_examnumber"  class="text-danger"></small>
                         </div>

                         <div class="content_subheader_left mx-2">
                              <small id="id_MSTUD_err_diplomanumber" class="text-danger"></small>
                         </div>
                         <div class="content_subheader_left mx-2">
                              <small id="id_MSTUD_err_gradelistnumber" class="text-danger"></small>
                         </div>
                     </div>
                     <div class="content_header">
                         <div class="flex_1 mx-1 ">
                            <label for="id_MSTUD_department" class="label_margin_top_m3">{% trans 'Department' %}:</label>
                            <input id="id_MSTUD_department" data-field= "db_code" class="form-control"
                                   readonly autocomplete="off" ondragstart="return false;" ondrop="return false;">
                         </div>
                         <div id="id_MSTUD_level_div" class="flex_1 mx-1">
                            <label id="id_MSTUD_level_label" for="id_MSTUD_level_select" class="label_margin_top_m3"></label>
                            <select id="id_MSTUD_level_select" data-field= "lvlbase_id" class="form-control"
                                   autocomplete="off" ondragstart="return false;" ondrop="return false;">
                            </select>
                         </div>
                         <div id="id_MSTUD_sector_div" class="flex_1 mx-1">
                            <label id="id_MSTUD_sector_label" for="id_MSTUD_sector_select" class="label_margin_top_m3"></label>
                            <select id="id_MSTUD_sector_select" data-field= "sctbase_id" class="form-control"
                                   autocomplete="off" ondragstart="return false;" ondrop="return false;">
                            </select>
                        </div>
                        <div class="flex_1 mx-1">
                            <label for="id_MSTUD_classname" class="label_margin_top_m3">{% trans 'Class' %}:</label>
                            <input id="id_MSTUD_classname" data-field= "classname" class="form-control"
                                   autocomplete="off" ondragstart="return false;" ondrop="return false;">
                         </div>
                     </div>

                     <div class="content_header">
                         <div class="flex_1 mx-1">
                            <label for="id_MSTUD_bis_exam" class="label_margin_top_m3">{% trans 'Bis candidate' %}:</label>
                            <div data-field="bis_exam" class="form-control pt-2 pointer_show">
                                <div id="id_MSTUD_bis_exam" data-field= "bis_exam" class="tickmark_1_1">
                                </div>
                            </div>
                         </div>
                         <div class="flex_1 mx-1 mt-2">
                             <label id="id_MSTUD_partial_exam_label" for="id_MSTUD_partial_exam" class="label_margin_top_m2"></label>
                             <div data-field= "partial_exam" class="form-control pt-2 pointer_show">
                                <div id="id_MSTUD_partial_exam" class="tickmark_1_1">
                                </div>
                            </div>
                         </div>

                         <div class="flex_2 mx-1 mt-2">
                             <div id="id_MSTUD_iseveningstudent_container" class="display_hide">
                                <label for="id_MSTUD_iseveningstudent" class="label_margin_top_m2">{% trans 'Evening school candidate' %}:</label>
                                <div data-field= "iseveningstudent" class="form-control pt-2 pointer_show">
                                    <div id="id_MSTUD_iseveningstudent" class="tickmark_1_1">
                                </div>
                            </div>
                            </div>
                        </div>

                     </div>

                     <div class="mx-2 mt-2 mb-0">
                        <small id="id_MSTUD_msg_modified"></small>
                     </div>
                </div>

                <div class="modal-footer">
                    <div class="content_subheader_left mx-1">
                        <button id="id_MSTUD_btn_delete"  data-dismiss="modal" class="btn btn-outline-danger">{% trans 'Delete candidate' %}</button>
                        <button id="id_MSTUD_btn_log" class="btn btn-outline-secondary display_hide" >{% trans 'Show logfile' %}</button>
                    </div>
                    <div class="content_subheader_right">
                        <button id="id_MSTUD_btn_cancel" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MSTUD_btn_save" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>