{% extends 'base.html' %}
{% load i18n %}{% load static %}


{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home_url' %}">AWP online</a></li>
    <li class="breadcrumb-item">{{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">{{ user.examyear }}
      {% if user.examyear_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item active">{{ school.abbrev }}</li>
    <li class="breadcrumb-item active">{% trans 'Student resultss' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_students_view %}

        <h4>{% trans 'Student results' %} {{ school.name }} {{ user.examyear }}</h4>

        <table class="table table table-condensed">
          <thead class="thead-inverse">
            <tr>
              <th>{% trans 'Student' %}</th>
              <th>{% trans 'Diploma number' %}</th>
              <th>{% trans 'Gradelist number' %}</th>
              <th>{% trans 'Locked' %}</th>
              <th>{% trans 'Withdrawn' %}</th>
              <th>{% trans 'grade_ce_avg_final' %}</th>
              <th>{% trans 'endgrade_avg_text' %}</th>
              <th>{% trans 'result_final' %}</th>
              <th>{% trans 'result_final_status' %}</th>

            </tr>
          </thead>
          <tbody>
            {% for item in results.all %}
              <tr>
                <td>
                  {% if user.enable_students_modify %}<a href="{% url 'tresult_edit_url' item.pk %}">{% endif %}
                  {{ item.student.lastname_firstname_initials }}</a>
                </td>
                <td>
                  {% if user.enable_students_modify %}<a href="{% url 'studentsubject_formset_url' item.pk %}">{% endif %}
                  {{ item.diplomanumber }}</a>
                </td>
                <td>{{ item.gradelistnumber}}</td>
                <td>{{ item.locked}}</td>
                <td>{{ item.is_withdrawn}}</td>
                <td>{{ item.grade_ce_avg_final}}</td>
                <td>{{ item.endgrade_avg_text }}</td>
                <td>{{ item.result_final }}</td>
                <td>{{ item.result_final_status }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  {% else %}
    <div class="alert alert-danger">{{ user.message_students_view }}</div>
    <a href="{% url 'home_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}l>