{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Subjects of candidates' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/modallowed230327.js' %}"></script>
    <script src="{% static 'js/import230815.js' %}"></script>
    <script src="{% static 'js/studentsubjects240503.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="awp_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Subjects of candidates' %}</h3>
        </div>
        {% if not no_access %}
            <div id="id_SBR_container_level" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Learning path' %}:</h6>
                <select id="id_SBR_select_level" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_sector" class="tw_200 m-2 display_hide">
                <h6 id="id_SBR_select_sector_label" class="tw_200 line_height_normal px-2"></h6>
                <select id="id_SBR_select_sector" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_subject" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Subject' %}:</h6>
                <input id="id_SBR_select_subject" type="text"
                    class="tw_200 border_none pointer_show px-2" readonly>
            </div>

            <div class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Cluster' %}:</h6>
               <input id="id_SBR_select_cluster" type="text"
                    class="tw_200 border_none pointer_show px-2" readonly>
            </div>

            <div class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Candidate' %}:</h6>
                <input id="id_SBR_select_student" type="text"
                    class="tw_200 border_none pointer_show px-1" readonly>
            </div>

            <div id="id_SBR_container_showall" class="tw_200 m-2 display_hide">
                <h6 id="id_SBR_select_showall" class="tw_200 pointer_show line_height_normal px-2 py-1">{% trans 'Show all subjects' %}</h6>
            </div>

            <div class="tw_200 m-2">
                <p id="id_SBR_item_count" class="tw_200 line_height_normal py-1"></p>
            </div>

        {% endif %}
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div id="id_content">
        {% if no_access %}
            {% include 'includes/message_noaccess.html' %}
        {% else %}
            {% include 'accounts/moduserallowedsection.html' %}
            {% include 'students/modcluster.html' %}
            {% include 'includes/modselectexamyearordepbase.html' %}
            {% include 'includes/modselectschoolsubjectstudent.html' %}
            {% include 'includes/modselectcolumns.html' %}
            {% include 'includes/modconfirm.html' %}
            {% include 'includes/modselectexam.html' %}
            {% include 'students/modapprovesubject.html' %}
            {% include 'students/modstudentsubject.html' %}
            {% include 'students/modselectex3.html' %}
            {% include 'includes/modselectexemptionyear.html' %}

            {% include 'includes/modimport.html' %}
            {% include 'students/modmultipleoccurrences.html' %}
            {% include 'includes/modmessage.html' %}

    <!-- CONTENT HEADER - LOADER -->
            <div class="margin_top80_left16_right32">
                <div class="flex_container">
    <!-- content_header -->
        <!-- header_text left -->
                    <div class="flex_2 p-2">
                        <h5 id="id_header_left" class="mb-0"></h5>
                    </div>
        <!-- loader -->
                    <div id="id_loader" class="py-2">
                        <div class="loader p-2">
                            <div class="duo duo1">
                                <div class="dot dot-a"></div>
                                <div class="dot dot-b"></div>
                            </div>
                                <div class="duo duo2">
                                <div class="dot dot-a"></div>
                                <div class="dot dot-b"></div>
                            </div>
                        </div>
                    </div>
        <!-- header_text right -->
                    <div class="flex_2_align_right p-2">
                        <h5 id="id_header_right" class="mb-0"></h5>
                    </div>
                </div>
            </div>
    <!-- end content_header -->

    <!-- BUTTON GROUP -->
            <div id="id_btn_container" class="btn-group btn-block pl-2 pr-4 my-2" role="group" aria-label="Choose option" >
                <button data-btn="btn_exem" class="btn btn-secondary ">{% trans 'Exemptions' %}</button>
                <button data-btn="btn_ep_01" class="btn btn-secondary ">{% trans 'First exam period' %}</button>
                {% if not no_centralexam %}
                    <button data-btn="btn_reex" class="btn btn-secondary ">{% trans 'Second exam period' %}</button>
                    {% if not no_thirdperiod %}
                        <button data-btn="btn_reex03" class="btn btn-secondary ">{% trans 'Third exam period' %}</button>
                    {% endif %}
                {% endif %}
                <button id="id_btn_pok" data-btn="btn_pok" class="btn btn-secondary">{{ pok_pex }}</button>
            </div>

    <!-- END OF CONTENT HEADER - LOADER -->

    <!-- CONTENT BODY -->
    <!-- =================== DATA TABLE  =================== -->
            <div id="id_tbl_container"
                class="content_body mx-2 mt-2 pr-4">
                <table class="table tsa_tbl">
                    <thead id="id_tblHead_datatable"></thead>
                    <tbody id="id_tblBody_datatable"></tbody>
                </table>
            </div>

    <!-- END OF CONTENT BODY -->

            <div id="id_data"
                 data-url_user_modmsg_hide="{% url 'url_user_modmsg_hide' %}"
                data-url_datalist_download="{% url 'url_datalist_download' %}"
                data-url_usersetting_upload="{% url 'url_usersetting_upload' %}"
                data-url_student_linkstudent="{% url 'url_student_linkstudent' %}"
                data-url_studsubj_upload="{% url 'url_studsubj_upload' %}"
                data-url_studsubj_single_update="{% url 'url_studsubj_single_update' %}"

                data-url_studsubj_validate_scheme="{% url 'url_studsubj_validate_scheme' %}"
                data-url_studsubj_validate_test="{% url 'url_studsubj_validate_test' %}"
                data-url_studsubj_validate_all="{% url 'url_studsubj_validate_all' %}"
                data-url_student_multiple_occurrences="{% url 'url_student_multiple_occurrences' %}"

                data-url_studsubj_approve="{% url 'url_studsubj_approve' %}"
                data-url_studsubj_approve_submit_multiple="{% url 'url_studsubj_approve_submit_multiple' %}"
                data-url_send_email_verifcode="{% url 'url_send_email_verifcode' %}"

                data-url_download_ex1="{% url 'url_download_ex1' %}"
                data-url_download_ex4="{% url 'url_download_ex4' %}"

                data-url_ex3_getinfo="{% url 'url_ex3_getinfo' %}"
                data-url_ex3_download="{% url 'url_ex3_download' '-' %}"
                data-url_ex3_backpage="{% url 'url_ex3_backpage' %}"

                data-url_cluster_upload="{% url 'url_cluster_upload' %}"
                data-url_validate_subj_composition="{% url 'url_validate_subj_composition' %}"
            >
            </div>
        {% endif %}
    </div>

{% endblock %}