{% extends 'base.html' %}
{% load i18n %}{% load static %}


{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home_url' %}">AWP online</a></li>
    <li class="breadcrumb-item">{{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">{{ user.examyear }}
      {% if user.examyear_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item active">{{ school.abbrev }}</li>
    <li class="breadcrumb-item active">{% trans 'Students' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_students_view %}
    {% if user.enable_students_modify %}
      <div class="mb-3">
        <a href="{% url 'student_add_url' %}" class="btn btn-primary">{% trans 'Add student' %}</a>
      </div>
    {% endif %}

        <h4>{% trans 'Students' %} {{ school.name }} {{ user.examyear }}</h4>

        <table class="table table table-condensed">
          <thead class="thead-inverse">
            <tr>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'Gender' %}</th>
              <th>{% trans 'Id number' %}</th>
              <th>{% trans 'Birth date' %}</th>
              <th>{% trans 'Birth country' %}</th>
              <th>{% trans 'Birth place' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for item in students.all %}
              <tr>
                <td>
                  {% if user.enable_students_modify %}
                    <a href="{% url 'student_edit_url' item.pk %}">
                  {% endif %}
                  {{ item.lastname_firstname_initials }}</a>
                </td>
                <td>{{ item.gender }}</td>
                <td>{{ item.idnumber}}</td>
                <td>{{ item.birthdate}}</td>
                <td>{{ item.birthcountry_str}}</td>
                <td>{{ item.birthcity_str}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  {% else %}
    <div class="alert alert-danger">{{ user.message_students_view }}</div>
    <a href="{% url 'home_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}l>