{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home_url' %}">AWP online</a></li>
    <li class="breadcrumb-item">
      {{ user.examyear.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">
      {{ user.examyear }}
      {% if user.examyear_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">
      {{ student.school.abbrev }}
      {% if user.school_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">{{ student.department.abbrev }}</li>
    <li class="breadcrumb-item">{{ student.full_name }}</li>
    <li class="breadcrumb-item active">Delete</li>
  </ol>
{% endblock %}

{% block content %}
  <h4>{% trans 'Delete student' %} {{ student.full_name }}</h4>
  {% if user.enable_students_modify %}
    <form method="post" novalidate>
      {% csrf_token %}
       <input type="hidden" name="next" value="{{ next }}">
        <p>Are you sure you want to delete student {{ object }}?</p>
      <button type="submit" class="btn btn-outline-danger"  name='delete_this' value='DelThis'>Yes, delete</button>
      <a href="{% url 'student_list_url' %}" class="btn btn-outline-primary">No, cancel</a>
    </form>
  {% else %}
    <a href="{% url 'student_list_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}