{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home_url' %}">AWP online</a></li>
    <li class="breadcrumb-item">{{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">{{ user.examyear }}
      {% if user.examyear_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item active">{{ school.abbrev }}</li>
    <li class="breadcrumb-item active">{% trans 'Student subjects' %}</li>
  </ol>
{% endblock %}

{% block content %}

  <!-- <link href="https://unpkg.com/tabulator-tables@4.1.4/dist/css/tabulator.min.css" rel="stylesheet"> -->
  
  <link rel="stylesheet" href="{% static 'css/awpr_table.css' %}">

  <script src="{% static 'js//students/studentsubject.js' %}"></script>
  <script src="{% static 'js/tables.js' %}"></script>

  {% if user.enable_students_view %}
    {% if user.enable_students_modify %}
      <div class="mb-3">
        <a href="{% url 'studentsubject_add_url' %}" class="btn btn-primary">{% trans 'Add subject' %}</a>
      </div>
    {% endif %}

        <!-- <h4 id="id_student_header">{% trans 'Student subjects' %} {{ student.name }} {{ student.examyear }}</h4> -->
        <h4 id="id_student_header">{% trans 'Student subjects' %}</h4>
                <button id="btn_import"
                        class="submit-button"
                        type="button"
                        data-ajax_studsubj_download_url= "{% url 'ajax_studsubj_download_url' %}"
                        data-ajax_studsubj_upload_url= "{% url 'ajax_studsubj_upload_url' %}"
                        data-student_list= "{{ student_list}}"
                        data-subject_list= "{{ subject_list}}"
                        data-mapped_coldefs = '{{ mapped_coldefs | safe}}'
                >Click</button>


<!--
                <div style="margin:0px; width:240px;">
                    <div id="table_student_lookup" class="c_link_columns"></div>
                </div>
-->


                <div id="id_stud_search" class="search_container"></div>




  {% else %}
    <div class="alert alert-danger">{{ user.message_students_view }}</div>
    <a href="{% url 'home_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}

{% endblock %}