{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">AWP online</a></li>
    <li class="breadcrumb-item">{{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">{{ user.examyear }}
      {% if user.examyear_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item active">{{ school.abbrev }}</li>
    <li class="breadcrumb-item active">{% trans 'Student subjects' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_students_view %}
    {% if user.enable_students_modify %}
      <div class="mb-3">
        <a href="{% url 'studentsubject_add_url' %}" class="btn btn-primary">{% trans 'Add subject' %}</a>
      </div>
    {% endif %}
        <h4>{% trans 'Student subjects' %} {{ student.name }} {{ student.examyear }}</h4>

        <table class="table table table-condensed">
          <thead class="thead-inverse">
            <tr>
              <th>{% trans 'Student' %}</th>
              <th>{% trans 'schemeitem' %}</th>
              <th>{% trans 'cluster' %}</th>
              <th>{% trans 'is_extra_subject' %}</th>
              <th>{% trans 'is_extra_subject_counts' %}</th>
              <th>{% trans 'is_choice_combi' %}</th>
              <th>{% trans 'pws_title' %}</th>
              <th>{% trans 'pws_subjects' %}</th>
              <th>{% trans 'has_exemption' %}</th>
              <th>{% trans 'has_tv02' %}</th>
              <th>{% trans 'has_tv03' %}</th>
              <th>{% trans 'has_pok' %}</th>
              <th>{% trans 'has_pok_status' %}</th>
              <th>{% trans 'endgrade_tv01' %}</th>
              <th>{% trans 'endgrade_tv02' %}</th>
              <th>{% trans 'endgrade_tv03' %}</th>
              <th>{% trans 'endgrade_final' %}</th>
              <th>{% trans 'endgrade_tv01_status' %}</th>
              <th>{% trans 'endgrade_tv02_status' %}</th>
              <th>{% trans 'endgrade_tv03_status' %}</th>
              <th>{% trans 'endgrade_final_status' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for item in studentsubjects.all %}
              <tr>
                <td>{{ item.studentresult.student.lastname_firstname_initials }}</td>
                <td>
                  {% if user.enable_students_modify %}<a href="{% url 'studentsubject_edit_url' item.pk %}">{% endif %}
                    {{ item.schemeitem.subject.abbrev }}
                  </a>
                </td>
                <td>{{ item.cluster}}</td>
                <td>{{ item.is_extra_subject}}</td>
                <td>{{ item.is_extra_subject_counts}}</td>
                <td>{{ item.is_choice_combi }}</td>
                <td>{{ item.pws_title }}</td>
                <td>{{ item.pws_subjects }}</td>
                <td>{{ item.has_exemption }}</td>
                <td>{{ item.has_tv02 }}</td>
                <td>{{ item.has_tv03 }}</td>
                <td>{{ item.has_pok }}</td>
                <td>{{ item.has_pok_status }}</td>
                <td>{{ item.endgrade_tv01 }}</td>
                <td>{{ item.endgrade_tv02 }}</td>
                <td>{{ item.endgrade_tv03 }}</td>
                <td>{{ item.endgrade_final }}</td>
                <td>{{ item.endgrade_tv01_status }}</td>
                <td>{{ item.endgrade_tv02_status }}</td>
                <td>{{ item.endgrade_tv03_status }}</td>
                <td>{{ item.endgrade_final_status }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  {% else %}
    <div class="alert alert-danger">{{ user.message_students_view }}</div>
    <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}l>