{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">AWP online</a></li>
    <li class="breadcrumb-item">
      {{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item"><a>{{ user.examyear }}</a></li>
    <li class="breadcrumb-item"><a>{{ user.schooldefault }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'student_list_url' %}">{% trans 'Students' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Add new' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_students_modify %}

    <form method="post" id="StudentAddForm" load_cities_url="{% url 'load_cities_url' %}" novalidate>
      {% csrf_token %}
       <input type="hidden" name="next" value="{{ next }}">
      <h4 id="AddStudent">{% trans 'Add student' %}</h4>

      <a id="testbutton" href="#" >{% trans 'Test Button' %}</a>

        <p id="showtext">showtext </p>

      <p id="demo">Click me to change my HTML content (innerHTML).</p>

      {% include 'includes/form.html' %}

      <!--- <table>
        {{ form.as_table }}
      </table> --->

      <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
      <a href="{% url 'student_list_url' %}" class="btn btn-outline-secundary">{% trans 'Cancel' %}</a>

    </form>

  {% else %}
    <div class="alert alert-danger">{{ user.message_students_modify }}</div>
    <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}

    <script>
      $(document).ready(function(){
        $("#testbutton").click(function(){
            $(this).css("background-color", "pink");
            console.log("background-color pink");
        });

        $("#demo").click(function(){
            console.log("demo-function");
            console.log(this);
            this.innerHTML = "Paragraph changed!";
        });

        $("#demo").innerHTML = "Paragraph demo!";

        $("p").hover(function(){
                $(this).css("background-color", "yellow");
                }, function(){
                $(this).css("background-color", "pink");
                console.log( "p hover" );
            });


        // create a function that will greet a person,
        // and assign the function to the `greet` variable
        var greet = function( person, message ) {
          var greeting = 'Hello, ' + person + '!';
          console.log( greeting + ' ' + message );
        };

        // use the function to greet Jory, passing in her
        // name and the message we want to use
        greet( 'Jory', 'Welcome to JavaScript' );

      $("#id_birthcountry_field").change(function () {
        var url = $("#StudentAddForm").attr("load_cities_url");  // get the url of the `load_cities` view
        console.log(url);
        var birthcountry_id = $(this).val();  // get the selected country ID from the HTML input
        console.log(birthcountry_id);
        $(this).css("background-color", "pink");

        $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'birthcountry_id': birthcountry_id       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            console.log("data");
            $("#id_birthcity_field").html(data);  // replace the contents of the city input with the data that came from the server
          }
        });
      });

      $("#id_birthcity_field").click(function () {
        var birthcity_id = $(this).val();
        console.log( birthcity_id );
        $(this).css("background-color", "pink");
      });



       // alert("The document is now ready");

       //  $("p").css("background-color", "green");

      });



     </script>

{% endblock %}
