{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Candidates' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/import210711.js' %}"></script>
    <script src="{% static 'js/students210711.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="awp_sidebar">
        <div class="content_subheader_left tab_show tab_init mx-2 my-4">
            <h5>{% trans 'Students' %}</h5>
        </div>
        {% if not no_access %}
            <div class="tw_200 mx-2 mt-2 mb-4">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Filter' %}:</h6>
                <input id="id_SBR_filter"
                    type="text"
                    class="tw_200 border_none px-2">
            </div>
            <div class="tbl_div_520_200 mx-2 my-2">
                <table>
                    <tbody id="id_SBR_tblbody_select"></tbody>
                </table>
            </div>
        {% endif %}
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div id="id_content">
        {% if no_access %}
            {% include 'includes/message_noaccess.html' %}
        {% else %}
            {% include 'includes/modselectexamyearordepbase.html' %}
            {% include 'includes/modselectschoolsubjectstudent.html' %}
            {% include 'includes/modmessage.html' %}
            {% include 'includes/modconfirm.html' %}
            {% include 'students/modstudent.html' %}
            {% include 'students/modstudentsubject.html' %}
            {% include 'includes/modimport.html' %}

    <!-- CONTENT HEADER - LOADER -->
            <div class="content_margin_top78">
            <!-- content_header -->
                {% include 'includes/messages.html' %}
    <!-- header_text left -->
                <div class="flex_4 mx-4 visibility_hide">
                    <h5 id="id_hdr_left"></h5>
                </div>
    <!-- loader -->
                <div class="flex_1 py-2">
                    {% include 'includes/loader.html' %}
                </div>
    <!-- header_text right -->
                <div class="flex_2 mx-4 visibility_hide">
                    <h5 id="id_hdr_textright1"></h5>
                </div>
                <div class="flex_2 mx-4 visibility_hide">
                    <h5 id="id_hdr_textright2"></h5>
                </div>
            </div>
            <!-- end content_header -->
    <!-- BUTTON GROUP -->
            <div id="id_btn_container"
                 class="btn-group btn-block pl-2 pr-4 my-2"
                 role="group"
                 aria-label="Choose option" >
                <button data-btn="btn_student" class="btn btn-secondary">{% trans 'Candidates' %}</button>
                <button data-btn="btn_studsubj" class="btn btn-secondary display_hide">{% trans 'Subjects' %}</button>
                <button data-btn="btn_exemption" class="btn btn-secondary display_hide">{% trans 'Exemptions' %}</button>
                <button data-btn="btn_reexamination" class="btn btn-secondary display_hide">{% trans 'Re-examinations' %}</button>
            </div>
    <!-- end BUTTON GROUP -->
    <!-- END OF CONTENT HEADER -->

    <!-- CONTENT BODY -->
    <!-- =================== DATA TABLE  =================== -->
            <div class="content_body mx-2 mt-2">
                <table class="table tsa_tbl">
                    <thead id="id_tblHead_datatable"></thead>
                    <tbody id="id_tblBody_datatable"></tbody>
                </table>
            </div>

    <!-- END OF CONTENT BODY -->
            <div id="id_data"
                data-url_datalist_download="{% url 'url_datalist_download' %}"
                data-url_settings_upload="{% url 'url_settings_upload' %}"
                data-url_student_upload="{% url 'url_student_upload' %}"
                data-url_studsubj_upload="{% url 'url_studsubj_upload' %}"
            >
            </div>
        {% endif %}
    </div>

{% endblock %}