{% load i18n %}{% autoescape off %}
{{ school_attn }},
{% trans "Attn." %}:{% for sendto_name in sendto_name_list %}
    {{ sendto_name }}{% endfor %}

{% trans "We hereby send you the orderlist of the exams " %}{% if not is_total_orderlist %}{% trans "of your school " %}{% endif %}{% trans "of this exam year" %}:

{% if not is_total_orderlist %}  - {% trans "School code" %}:  {{ school_code }}{% endif %}
{% if not is_total_orderlist %}  - {% trans "School" %}:  {{ school_name }}{% endif %}
  - {% trans "Exam year" %}:  {{ examyear_str }}

{% trans "Click 'Enable editing' if the totals in the Excel sheet are zero." %}

{% if is_curacao %}Wilt u de bestellijst controleren en indien nodig binnen 1 week uw reactie sturen naar:
    e-mail adres:  esther.bomberg@ete.cw
    c.c. naar:     fatima.celestijn@ete.cw (Productie afdeling)

Met vriendelijke groet | Best regards | Kordial Saludo,

Esther Padilla-Bomberg

Hoofd ETE,
Expertisecentrum voor Toetsen & Examens
Ministerie van Onderwijs, Wetenschap, Cultuur & Sport

{% else %}
{% trans "Please review this orderlist and contact us within 1 week if necessary at:" %}
    e-mail adres:  Yvette.Halley@sintmaartengov.org
    c.c.:          Brigida.Peterson@sintmaartengov.org

{% trans "With Kind Regards," %}

Drs. Yvette J.C.Halley
Division Head
Division of Examinations
Ministry of Education, Culture, Youth and Sport
{% endif %}

{% endautoescape %}

