{% extends 'base.html' %}
{% load i18n %}

{% block title %}Inloggen{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card mt-5">
        <div class="card-body tsa_bc_lightlightgrey">
            <h4>Inloggen</h4>
        </div>
        <div class="card-body">
            <form method="post" novalidate>
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              {% include 'includes/form.html' %}
            <div class="pt-3">
              <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
            </form>
        </div>
        <div class="card-footer text-muted text-center">
          <a href="{% url 'password_reset' %}" class="text-muted">Wachtwoord vergeten?</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}