{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Second correctors' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/correctors240603.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="awp_sidebar">
        <div class="content_subheader_left mx-2 my-4">
            <h5>{% trans 'Second correctors' %}</h5>
        </div>
        {% if not no_access %}
            <div id="id_SBR_container_department" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Department' %}:</h6>
                <select id="id_SBR_select_department" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_level" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Learning path' %}:</h6>
                <select id="id_SBR_select_level" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>
            <div id="id_SBR_container_showall" class="tw_200 m-2 display_hide">
                <h6 id="id_SBR_select_showall" class="tw_200 pointer_show line_height_normal px-2 py-1">{% trans 'Show all items' %}</h6>
            </div>

            <div class="tw_200 m-2">
                <p id="id_SBR_item_count" class="tw_200 line_height_normal py-1"></p>
            </div>
        {% endif %}
    </nav>
{% endblock %}
<!-- END SIDE BAR -->


{% block content %}
    <div id="id_content">
        {% if no_access %}
            {% include 'includes/message_noaccess.html' %}
        {% else %}
            {% include 'includes/modselectexamyearordepbase.html' %}
            {% include 'accounts/moduserallowedsection.html' %}
            {% include 'accounts/modapprovecompensation.html' %}
            {% include 'includes/modselectschoolsubjectstudent.html' %}
            {% include 'includes/modselectmultiple.html' %}
            {% include 'accounts/modcompensationhours.html' %}
            {% include 'accounts/moduserdata.html' %}
            {% include 'includes/modselectcolumns.html' %}
            {% include 'includes/modconfirm.html' %}
            {% include 'includes/modmessage.html' %}

<!-- CONTENT HEADER - LOADER -->
            <div class="margin_top80_left16_right32">
    <!-- content_header -->
                <div class="flex_container">
        <!-- header_text left -->
                    <div class="flex_2 p-2">
                        <h5 id="id_header_left" class="mb-0"></h5>
                    </div>
        <!-- loader -->
                    <div id="id_loader" class="py-2">
                        <div class="loader p-2">
                            <div class="duo duo1">
                                <div class="dot dot-a"></div>
                                <div class="dot dot-b"></div>
                            </div>
                                <div class="duo duo2">
                                <div class="dot dot-a"></div>
                                <div class="dot dot-b"></div>
                            </div>
                        </div>
                    </div>
        <!-- header_text right -->
                    <div class="flex_2_align_right p-2">
                        <h5 id="id_header_right" class="mb-0"></h5>
                    </div>
                </div>
            </div>
<!-- end content_header -->

<!-- BUTTON GROUP -->
            <div id="id_btn_container" class="btn-group btn-block pl-2 pr-4 my-2" role="group" aria-label="Choose option" >
                <button id="id_btn_correctors" data-btn="btn_correctors" class="btn btn-secondary display_hide">{% trans 'Second correctors' %}</button>
                <button data-btn="btn_usercompensation" class="btn btn-secondary">{% trans 'Approvals' %}</button>
                <button id="id_btn_usercomp_agg" data-btn="btn_usercomp_agg" class="btn btn-secondary display_hide">{% trans 'Compensation' %}</button>
                <button id="id_btn_userdata" data-btn="btn_userdata" class="btn btn-secondary display_hide">{% trans 'Personal data' %}</button>
            </div>
<!-- end BUTTON GROUP -->

<!-- CONTENT BODY -->
            <div id="id_tbl_container" class="content_body ml-2 mr-0">
    <!-- =================== DATA TABLE  =================== -->
                <table class="table tsa_tbl pl-0 pr-4 my-2">
                    <thead id="id_tblHead_datatable"></thead>
                    <tbody id="id_tblBody_datatable"></tbody>
                </table>
    <!-- =================== END DATA TABLE  =================== -->
            </div>


            <div id="id_data"
                data-url_datalist_download="{% url 'url_datalist_download' %}"
                data-url_usersetting_upload="{% url 'url_usersetting_upload' %}"
                data-url_userallowedcluster_upload="{% url 'url_userallowedcluster_upload' %}"

                data-url_usercompensation_upload="{% url 'url_usercompensation_upload' %}"
                data-url_usercomp_approve_single="{% url 'url_usercomp_approve_single' %}"
                data-url_usercomp_approve_submit="{% url 'url_usercomp_approve_submit' %}"
                data-url_send_email_verifcode="{% url 'url_send_email_verifcode' %}"
                data-url_download_excomp="{% url 'url_download_excomp' %}"
                data-url_download_paymentform="{% url 'url_download_paymentform' %}"
                data-url_download_invoice"{% url 'url_download_invoice' %}"

                data-url_userdata_upload="{% url 'url_userdata_upload' %}"
            >
            </div>
        {% endif %}
    </div>
{% endblock %}