{% load i18n %}
{% load static %}

 <!-- =================== MODAL GROUP PERMIT  =================== -->
    <div class="modal" id="id_mod_group_permit" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MGP_header" class="modal-title mx-2" >{% trans 'Group permission' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                        <div id="id_div_form_controls" class="modal_body_right mx-2 my-2">
                            <div class="content_header">
                                <div class="content_subheader_left mx-1">
                                    <label for="id_MGP_role" class="awp_margin_form_label">{% trans 'Organization' %}:</label>
                                     <select id="id_MGP_role" data-field= "role" class="form-control"
                                           autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                         <option value="0">-</option>
                                         <option value="8">{% trans 'School' %}</option>
                                         <option value="16">{% trans 'Commissioner' %}</option>
                                         <option value="32">{% trans 'Inspection' %}</option>
                                         <option value="64">{% trans 'Administrator' %}</option>
                                         <option value="128">{% trans 'System manager' %}</option>
                                     </select>
                                </div>
                                <div class="content_subheader_left mx-1">
                                    <label for="id_MGP_page" class="awp_margin_form_label">{% trans 'Page' %}:</label>
                                     <select id="id_MGP_page" data-field= "page" class="form-control"
                                           autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                         <option value="-">-</option>
                                         <option value="page_all">page_all</option>
                                         <option value="page_user">page_user</option>
                                         <option value="page_examyear">page_examyear</option>
                                         <option value="page_school">page_school</option>
                                         <option value="page_subject">page_subject</option>
                                         <option value="page_student">page_student</option>
                                         <option value="page_studsubj">page_studsubj</option>
                                         <option value="page_exam">page_exam</option>
                                         <option value="page_grade">page_grade</option>
                                     </select>
                                </div>
                                <div class="content_subheader_left mx-1">
                                    <label for="id_MGP_sequence" class="awp_margin_form_label">{% trans 'Sequence' %}:</label>
                                    <input id="id_MGP_sequence" type="number" min="1" max="99" data-field="action"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                                </div>
                            </div>
                            <div class="content_header">
                                <div class="content_subheader_left mx-1">
                                    <label for="id_MGP_action" class="awp_margin_form_label">{% trans 'Action' %}:</label>
                                    <input id="id_MGP_action" type="text" data-field="action"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                                </div>

                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <div class="content_subheader_left mx-1">
                        <button id="id_MGP_btn_delete" type="button" data-dismiss="modal" class="btn btn-outline-danger">{% trans 'Delete permission' %}</button>
                    </div>
                    <div class="content_subheader_right">
                        <button class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MGP_btn_submit" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>