{% load i18n %}
{% load static %}

 <!-- =================== MODAL USER PERMIT  =================== -->
    <div class="modal" id="id_mod_userpermit" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MUPM_header" class="modal-title mx-2" >{% trans 'Group permission' %}</h4>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                        <div id="id_div_form_controls" class="modal_body_right mx-2 my-2">

                            <div class="flex_container">
                                <div class="flex_1 mx-2">
                                    <label for="id_MUPM_role" class="label_margin_top_m2">{% trans 'Organization' %}:</label>
                                    <select id="id_MUPM_role" data-field= "role" class="form-control"
                                           autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                         <option value="">{% trans 'All organizations' %}</option>
                                         <option value="8">{% trans 'School' %}</option>
                                         <option value="16">{% trans 'Commissioner' %}</option>
                                         <option value="32">{% trans 'Inspection' %}</option>
                                         <option value="64">{% trans 'Division of Examinations' %}</option>
                                         <option value="128">{% trans 'System manager' %}</option>
                                     </select>
                                </div>
                                <div class="flex_1 mx-2">
                                    <label for="id_MUPM_page" class="label_margin_top_m2">{% trans 'Page' %}:</label>
                                    <select id="id_MUPM_page" data-field= "page" class="form-control"
                                           autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                         <option value="-">-</option>
                                         <option value="page_all">page_all</option>
                                         <option value="page_user">page_user</option>
                                         <option value="page_mailbox">page_mailbox</option>
                                         <option value="page_examyear">page_examyear</option>
                                         <option value="page_school">page_school</option>
                                         <option value="page_subject">page_subject</option>
                                         <option value="page_student">page_student</option>
                                         <option value="page_studsubj">page_studsubj</option>
                                         <option value="page_orderlist">page_orderlist</option>
                                         <option value="page_exams">page_exams</option>
                                         <option value="page_grade">page_grade</option>
                                         <option value="page_result">page_result</option>
                                     </select>
                                </div>
                                <div class="flex_1 mx-2">
                                    <div class="label_margin_top_m2">{% trans 'User groups' %}:</div>
                                    <div class="tbl_h128_w220X form-control">
                                        <table class="table tsa_tbl mb-0">
                                            <tbody id="id_MSCH_tbody_usergroups">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="content_header">
                                <div class="content_subheader_left mx-1 mb-2">
                                    <label for="id_MUPM_action" class="label_margin_top_m2">{% trans 'Action' %}:</label>
                                    <input id="id_MUPM_action" type="text" data-field="action"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;" class="form-control">
                                </div>
                            </div>

                        </div>
                </div>
                <div class="modal-footer">
                    <div class="content_subheader_left mx-1">
                        <button id="id_MUPM_btn_delete" data-dismiss="modal" class="btn btn-outline-danger">{% trans 'Delete permission' %}</button>
                    </div>
                    <div class="content_subheader_right">
                        <button class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MUPM_btn_submit" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>