{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Users' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/import230220.js' %}"></script>
    <script src="{% static 'js/users230220.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="awp_sidebar">
        <div class="content_subheader_left tab_show tab_init mx-2 my-4">
            <h5>{% trans 'Users' %}</h5>
        </div>
        {% if not no_access %}
        {% endif %}
    </nav>
{% endblock %}
<!-- END SIDE BAR -->


{% block content %}
    <div id="id_content">
        {% if no_access %}
            {% include 'includes/message_noaccess.html' %}
        {% else %}
            {% include 'accounts/moduserallowedsection.html' %}
            {% include 'includes/modselectexamyearordepbase.html' %}
            {% include 'includes/modselectschoolsubjectstudent.html' %}
            {% include 'includes/modselectmultiple.html' %}
            {% include 'includes/modconfirm.html' %}
            {% include 'accounts/moduser.html' %}
            {% include 'accounts/modpermit.html' %}
            {% include 'includes/modimport.html' %}
            {% include 'includes/modmessage.html' %}

<!-- CONTENT HEADER - LOADER -->
            <div class="margin_top80_left16_right32">
    <!-- content_header -->
                <div class="flex_container">
        <!-- header_text left -->
                    <div class="flex_2 p-2">
                        <h5 id="id_header_left" class="mb-0"></h5>
                    </div>
        <!-- loader -->
                    <div id="id_loader" class="py-2">
                        <div class="loader p-2">
                            <div class="duo duo1">
                                <div class="dot dot-a"></div>
                                <div class="dot dot-b"></div>
                            </div>
                                <div class="duo duo2">
                                <div class="dot dot-a"></div>
                                <div class="dot dot-b"></div>
                            </div>
                        </div>
                    </div>
        <!-- header_text right -->
                    <div class="flex_2_align_right p-2">
                        <h5 id="id_header_right" class="mb-0"></h5>
                    </div>
                </div>
            </div>
<!-- end content_header -->

<!-- BUTTON GROUP -->
            <div id="id_btn_container" class="btn-group btn-block pl-2 pr-4 my-2" role="group" aria-label="Choose option" >
                <button data-btn="btn_user" class="btn btn-secondary ">{% trans 'Users' %}</button>
                <button data-btn="btn_usergroup" class="btn btn-secondary ">{% trans 'User groups' %}</button>
                <button data-btn="btn_allowed" class="btn btn-secondary ">{% trans 'Allowed sections' %}</button>
                <button data-btn="btn_correctors" class="btn btn-secondary ">{% trans 'Second correctors' %}</button>

                {% if show_btn_userpermit %}
                    <button data-btn="btn_userpermit" class="btn btn-secondary ">{% trans 'Permissions' %}</button>
                {% endif %}

            </div>
<!-- end BUTTON GROUP -->

<!-- CONTENT BODY -->
            <div id="id_tbl_container" class="content_body ml-2 mr-0">
    <!-- =================== DATA TABLE  =================== -->
                <table class="table tsa_tbl pl-0 pr-4 my-2">
                    <thead id="id_tblHead_datatable"></thead>
                    <tbody id="id_tblBody_datatable"></tbody>
                </table>
    <!-- =================== END DATA TABLE  =================== -->
            </div>


            <div id="id_data"
                data-url_datalist_download="{% url 'url_datalist_download' %}"
                data-url_usersetting_upload="{% url 'url_usersetting_upload' %}"
                data-url_user_allowedsections_upload="{% url 'url_user_allowedsections_upload' %}"

                data-user_upload_url="{% url 'user_upload_url' %}"
                data-userpermit_upload_url="{% url 'userpermit_upload_url' %}"
                data-user_download_permits_url="{% url 'user_download_permits_url' %}"
                data-url_download_userdata_xlsx="{% url 'url_download_userdata_xlsx' %}"
            >
            </div>
        {% endif %}
    </div>
{% endblock %}