{% extends 'base.html' %}
{% load i18n %}

{% block title %}Delete user{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">AWP online</a></li>
    <li class="breadcrumb-item"><a href="{% url 'user_list_url' %}">{% trans 'Users' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'user_edit_url' user.pk %}">{{ user.username }}</a></li>
    <li class="breadcrumb-item active">{% trans 'Delete' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.may_add_or_edit_users %}
      <form method="post" novalidate>
        {% csrf_token %}
         <input type="hidden" name="next" value="{{ next }}">
          <h4>{% trans 'Delete user' %}</h4>
          <p>Are you sure you want to delete user '{{ user.username }}'?</p>
        <button type="submit" class="btn btn-outline-danger"  name='delete_this' value='DelThis'>{% trans 'Yes, delete' %}</button>
        <a href="{% url 'user_list_url' %}" class="btn btn-outline-primary">{% trans 'No, cancel' %}</a>
      </form>
    {% else %}
      <a href="{% url 'user_list_url' %}" class="btn btn-outline-secundary">{% trans "You don't have permission to view this page." %}</a>
    {% endif %}
  {% else %}
    <a href="{% url 'login' %}" class="btn btn-outline-secundary">You must be logged in to view this page</a>
  {% endif %}
{% endblock %}