{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Exams' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/exams220105.js' %}"></script>
    <script src="{% static 'js/download220105.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="awp_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Exams' %}</h3>
        </div>
        {% if not no_access %}
            <div id="id_SBR_container_examperiod" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Period' %}:</h6>
                <select id="id_SBR_select_period" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_examtype" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Exam type' %}:</h6>
                <select id="id_SBR_select_examtype" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               >
                </select>
            </div>

            <div id="id_SBR_container_level" class="tw_200 m-2 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Leerweg' %}:</h6>
                <select id="id_SBR_select_level" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_showall" class="tw_200 m-2 display_hide">
                <h6 id="id_SBR_select_showall" class="tw_200 pointer_show line_height_normal px-2 py-1">{% trans 'Show all from this period' %}</h6>
            </div>

        {% endif %}
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div id="id_content">
        {% if no_access %}
            {% include 'includes/message_noaccess.html' %}
        {% else %}
            {% include 'subjects/modexamquestions.html' %}
            {% include 'includes/modselectexamyearordepbase.html' %}
            {% include 'includes/modselectschoolsubjectstudent.html' %}
            {% include 'includes/modselectcolumns.html' %}
            {% include 'includes/modselectexam.html' %}
            {% include 'students/modapprovegrade.html' %}
            {% include 'includes/modmessage.html' %}
            {% include 'includes/modconfirm.html' %}
            {% include 'includes/modstatus.html' %}

            <div class="content_margin_top78">
                <div id="id_btn_container" class="btn-group btn-block pl-2 pr-4 my-2" role="group" aria-label="Choose option" >
                    <button data-btn="btn_ep_01" class="btn btn-secondary ">{% trans 'First exam period' %}</button>
                    {% if not no_centralexam %}
                        <button data-btn="btn_reex" class="btn btn-secondary ">{% trans 'Second exam period' %}</button>
                    {% endif %}

                </div>
    <!-- end BUTTON GROUP -->

<!-- CONTENT HEADER - LOADER -->

        <!-- submenu -->
                <div class="content_header flex_container">
                    <div id="id_submenu" class="awp_navbar_submenuXX mt-5">
                    </div>
        <!-- left header_text -->
                    <div class="flex_4 pl-4 py-2">
                        <h5 id="id_header_left"></h5>
                    </div>
        <!-- loader -->
                    <div class="flex_1 py-2">
                        {% include 'includes/loader.html' %}
                    </div>

        <!-- right header_text -->
                    <div class="text_align_right flex_4 pr-4 py-2 mr-2">
                        <h5 id="id_hdr_textright1"></h5>
                    </div>
                </div>
            <!-- end content_header -->

    <!-- CONTENT BODY -->
    <!-- =================== DATA TABLE  =================== -->
            <div class="content_header ml-2 mr-4">
                <table class="table tsa_tbl">
                    <thead id="id_tblHead_datatable"></thead>
                    <tbody id="id_tblBody_datatable"></tbody>
                </table>
            </div>
    <!-- END OF CONTENT BODY -->

            <div id="id_data"
                data-url_datalist_download="{% url 'url_datalist_download' %}"
                data-url_usersetting_upload="{% url 'url_usersetting_upload' %}"
                data-url_student_upload="{% url 'url_student_upload' %}"
                data-url_studsubj_upload="{% url 'url_studsubj_upload' %}"
                data-exam_upload_url="{% url 'exam_upload_url' %}"
                data-grade_upload_url="{% url 'grade_upload_url' %}"
                data-grade_approve_url="{% url 'grade_approve_url' %}"
                data-download_published_url="{% url 'grades_download_published_url' %}"
                data-exam_download_exam_pdf_url="{% url 'exam_download_exam_pdf_url' '-' %}"
                data-exam_download_exam_json_url="{% url 'exam_download_exam_json_url' '-' %}"

                data-url_studentsubjectnote_upload="{% url 'url_studentsubjectnote_upload' %}"
                data-studentsubjectnote_download_url="{% url 'studentsubjectnote_download_url' %}"
                data-noteattachment_download_url="{% url 'noteattachment_download_url' pk_int=0 %}"

            >
            </div>
        {% endif %}
    </div>

{% endblock %}