{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home_url' %}">AWP online</a></li>
    <li class="breadcrumb-item">{{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">{{ user.examyear }}
      {% if user.examyear_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item active">{% trans 'Levels' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_schemes_view %}
    {% if user.enable_schemes_modify %}
      <div class="mb-3"><a href="{% url 'level_add_url' %}" class="btn btn-primary">{% trans 'Add level' %}</a></div>
    {% endif %}

    <h4>{% trans 'Levels' %} {{ user.country }}</h4>

    <table class="table table table-condensed">
      <thead class="thead-inverse">
        <tr>
          <th>{% trans 'ID' %}</th>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Abbreviation' %}</th>
          <th>{% trans 'Sequence' %}</th>
          <th>{% trans 'Departments' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in levels.all %}
          <tr>
            <td>{{ item.id }}</td>
            <td>
              {% if user.enable_schemes_modify %}
                <a href="{% url 'level_edit_url' item.pk %}">{{ item.name }}</a>
              {% else %}
                {{ item.name }}
              {% endif %}
            </td>
            <td>{{ item.abbrev }}</td>
            <td>{{ item.sequence }}</td>
            <td>{{ item.depbase_list_str }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-danger">{{ user.message_schemes_view }}</div>
    <a href="{% url 'home_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}l>