 {% load i18n %}
{% load static %}

 <!-- =================== MODAL LINK DUO EXAMS  =================== -->
    <div class="modal" id="id_mod_duoexams" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">

            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <a href="{% url 'manual_url' 'studsubj' 'id_clusters' %}" target="_blank" title="{% trans 'Open manual' %}" aria-label="Manual"> <div class="questionmark"></div> </a>

                    <h4 id="id_MDUO_header" class="modal-title mx-2" ></h4>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="content_header ml-2 mr-0">
                        <div class="flex_3 p-2 ">
                            <h6 class="px-2">{% trans 'Subjects that are not linked' %}:</h6>
                            <table class="tableX tsa_tbl border_bg_message tbl_h180 tw_280">
                                <tbody id="id_MDUO_tblBody_subjects"></tbody>
                            </table>
                         </div>

                        <div class="flex_4 p-2">
                            <h6 class="px-2">{% trans 'CVTE exams that are not linked' %}:</h6>
                            <table class="tableX tsa_tbl border_bg_message tbl_h180 tw_420">
                                <tbody id="id_MDUO_tblBody_ntermentable"></tbody>
                            </table>

                        </div>
                    </div>
                    <div class="content_header ml-2 mr-0">
                        <div class="p-2">
                            <h6 class="px-2">{% trans 'Linked CVTE exams' %}:</h6>
                            <table class="tableX tsa_tbl border_bg_lightblue tbl_h180 tbl_w960">
                                <tbody id="id_MDUO_tblBody_linked"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="mx-4">
                        <div class="mx-2 mb-0"><small>{% trans "Click a subject in the left list and a corresponding CVTE exam in the right list to link them." %}</small></div>
                        <div class="mx-2 mb-0"><small >{% trans "Click on a linked exam in the lower list to unlink it." %}</small></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="content_subheader_right">
                        <button class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MDUO_btn_save" class="btn btn-primary mr-3">{% trans 'Save' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>