 {% load i18n %}
{% load static %}

 <!-- =================== MODAL ENVELOP PRINT  =================== -->
    <div class="modal" id="id_mod_envelop_print" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl " role="document">

            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <a href="{% url 'manual_url' 'studsubj' 'intro' %}" target="_blank" title="{% trans 'Open manual' %}" aria-label="Manual"> <div class="questionmark"></div> </a>

                    <h4 id="id_MENVPR_header" class="modal-title mx-2" ></h4>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body px-4">
                    <div class="content_header ">
                        <div class="flex_1 p-2 mod_show mod_label">
                            <h6 class="px-2">{% trans 'Select the labels you want to download' %}:</h6>
                            <select id="id_MENVPR_select_errata" size="3" class="form-control tbl_hide_scrollbar"
                                 autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                 <option value="no_errata">{% trans "Don't download errata labels" %}</option>
                                 <option value="errata_only">{% trans 'Download errata labels only' %}</option>
                                 <option value="all">{% trans 'Download all labels' %}</option>
                            </select>
                        </div>
                        <div class="flex_1 p-2 mod_show mod_receipt">
                            <h6 class="px-2">{% trans 'Select the exams you want to download' %}:</h6>
                            <select id="id_MENVPR_select_exam" size="4" class="form-control tbl_hide_scrollbar"
                                 autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                 <option value="cspe_tv01">{% trans "CSPE exams first exam period" %}</option>
                                 <option value="cspe_tv02">{% trans "CSPE exams second exam period" %}</option>
                                 <option value="cse_tv01">{% trans 'CSE exams first exam period' %}</option>
                                 <option value="cse_tv02">{% trans 'CSE exams second exam period' %}</option>
                            </select>
                        </div>
                        <div class="flex_1 p-2">
                            <h6 class="px-2">{% trans 'Select designated exams' %}:</h6>
                            <select id="id_MENVPR_select_secret" size="2" class="form-control tbl_hide_scrollbar"
                                 autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                 <option value="exclude">{% trans "Download without designated exams" %}</option>
                                 <option value="only">{% trans 'Download designated exams only' %}</option>
                            </select>
                        </div>
                    </div>
                    <div id="id_MENVPR_loader" class="display_hide mx-4 mt-2 ">
                        <div class="image_container">
                            <img src="{% static 'img/loader.gif' %}" class="icon_24">
                        </div>
                    </div>
                    <div class="content_header">
                         <div class="flex_1 p-2 ">
                             <h6 class="px-2">{% trans 'Select one or more schools' %}:</h6>
                             <table class="tableX tsa_tbl border_bg_lightblue tbl_h240_w_auto">
                                <tbody id="id_MENVPR_tblBody_school"></tbody>
                             </table>
                         </div>
                         <div class="flex_2 p-2 mod_show mod_label">
                             <h6 class="px-2">{% trans 'Select one or more subjects' %}:</h6>
                              <table class="tableX tsa_tbl border_bg_lightblue tbl_h240_w_auto">
                                <tbody id="id_MENVPR_tblBody_exam"></tbody>
                              </table>
                        </div>
                    </div>
                    <div class="content_header">
                        <div class="mx-3 mt-2">
                            <small id="id_MENVPR_msg_modified"></small>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="content_subheader_right">
                        <button class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MENVPR_btn_save" class="btn btn-primary">{% trans 'Download' %}</button>
                    </div>
                    <div class="display_hide">
                        <a id="id_MENVPR_save_link" href="#" target="blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>