 {% load i18n %}
{% load static %}

 <!-- =================== MODAL EXAM QUESTIONS =================== -->
    <div class="modal" id="id_mod_exam_questions" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="mex_header1">
                    <h4 id="id_MEXQ_header1" class="modal-title mx-2" ></h4>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="mex_header2">
                    <h4 id="id_MEXQ_header2" class="modal-title mx-2" ></h4>
                </div>
                <div class="mex_header2">
                    <h4 id="id_MEXQ_header3" class="modal-title mx-2" ></h4>
                </div>
                <div class="modal-body py-0">
                    {% if is_requsr_admin %}
                        <div class="tab_show tab_start">
                            <div class="flex_container">

                                <div class="flex_1">
                                    <div class="m-2">
                                        <label class="mx-2 my-1">{% trans 'Subject' %}:</label>
                                        <div class="form-groupXXX">

                                        <div id="id_MEXQ_select_subject" class="form-control pt-2 pointer_show"></div>
                                        </div>
                                        <div class="mx-2 display_hide">
                                            <small id="id_MEXQ_err_subject" class="text-muted">{% trans 'The subject cannot be blank.' %}</small>
                                        </div>
                                    </div>

                                    <div id="id_MEXQ_level_container"  class="m-2">
                                        <label class="mx-2 my-1">{% trans 'Leerweg' %}:</label>
                                        <select id="id_MEXQ_select_level" class="form-control"
                                            autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                        </select>
                                         <div class="mx-2 display_hide">
                                            <small id="id_MEXQ_err_level" class="text-muted">{% trans 'The leerweg cannot be blank.' %}</small>
                                        </div>
                                    </div>
                                    <div class="m-2">
                                        <label class="mx-2 my-1">{% trans 'Version of the exam' %}:</label>
                                        <input id="id_MEXQ_input_version" type="text" class="form-control"
                                            autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                        <div class="mx-2">
                                            <small id="id_MEXQ_err_version" class="text-muted">{% trans 'Only required when a subject has multiple exams.' %}</small>
                                        </div>
                                    </div>
                                    <div class="flex_container  m-2">
                                        <div class="flex_1">
                                            <span>
                                                <input id="id_MEXQ_checkbox_ep01" type="checkbox" value="true" class="tw_032 mx-2">
                                                <label for="id_MEXQ_checkbox_ep01" class="mx-2 my-1">{% trans 'Central exam' %}</label>
                                            </span>
                                        </div>
                                        <div class="flex_1">
                                            <span>
                                                <input id="id_MEXQ_checkbox_ep02" type="checkbox" value="true" class="tw_032 mx-2">
                                                <label for="id_MEXQ_checkbox_ep02" class="mx-2 my-1">{% trans 'Re-examination' %}</label>
                                            </span>
                                        </div>
                                        <div class="flex_1">
                                            <span>
                                                <input id="id_MEXQ_checkbox_ep03" type="checkbox" value="true" class="tw_032 mx-2">
                                                <label for="id_MEXQ_checkbox_ep03" class="mx-2 my-1">{% trans 'Third period' %}</label>
                                            </span>
                                        </div>
                                        <div class="flex_1">
                                            <span>
                                                <input id="id_MEXQ_has_partex_checkbox" type="checkbox" value="true" class="tw_032 mx-2">
                                                <label for="id_MEXQ_has_partex_checkbox" class="mx-2 my-1">{% trans 'Partial exams' %}</label>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="flex_container">
                                        <div class="flex_1">
                                            <div class="m-2">
                                                <label class="mx-2 my-1">{% trans 'Number of questions' %}:</label>
                                                <input id="id_MEXQ_input_amount" type="text" class="form-control"
                                                    autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                                <div class="mx-2">
                                                    <small id="id_MEXQ_err_amount" class="text-danger"></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex_1">
                                            <div class="m-2">
                                                <label class="mx-2 my-1">{% trans 'Maximum score' %}:</label>
                                                <input id="id_MEXQ_input_scalelength" type="text" class="form-control" readOnly
                                                    autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                                <div class="mx-2">
                                                    <small class="text-muted">{% trans 'AWP calculates the maximum score.' %}</small>
                                                </div>
                                           </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="id_MEXQ_partex1_container" class="flex_1">

                                    <div class="m-2">
                                        <label class="mx-2 my-1">{% trans 'Partial exams' %}:</label>
                                        <table class="tableX tsa_tbl border_bg_transparent tbl_partex_h220_w_auto">
                                            <tbody id="id_MEXQ_tblBody_partex1"></tbody>
                                        </table>

                                        <div id="id_MEXQ_btngroup_add_partex">
                                            <div class="flex_container pt-2">
                                                <div class="flex_1 pr-1">
                                                    <button id="id_MEXQ_btn_partex_add" class="btn btn-block btn-outline-secondary ">{% trans 'Add partial exam' %}</button>
                                                </div>
                                                <div class="flex_1 pl-1">
                                                    <button id="id_MEXQ_btn_partex_delete" class="btn btn-block btn-outline-secondary ">{% trans 'Delete partial exam' %}</button>
                                                </div>
                                            </div>
                                            <div class="flex_container pt-2">
                                                <button id="id_MEXQ_btn_partex_edit" class="btn btn-block btn-outline-secondary ">{% trans 'Change partial exam' %}</button>
                                            </div>
                                        </div>

                                        <div id="id_MEXQ_group_partex_name" class="border_bg_transparent mt-2 p-2">
                                            <div class="flex_container">
                                                <div class="flex_1 pr-1">
                                                    <label class="mx-2 my-1">{% trans 'Partial exam name' %}:</label>
                                                    <input id="id_MEXQ_input_partex_name" type="text" class="form-control"
                                                    autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                                    <div class="mx-2">
                                                        <small id="id_MEXQ_err_partex_name" class="text-danger"></small>
                                                    </div>
                                                </div>
                                                <div class="flex_1 pl-1">
                                                    <label class="mx-2 my-1">{% trans 'Number of questions' %}:</label>
                                                    <input id="id_MEXQ_partex_amount" type="text" class="form-control"
                                                    autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                                    <div class="mx-2">
                                                        <small id="id_MEXQ_err_partex_amount" class="text-danger"></small>
                                                    </div>
                                                </div>
                                            </div>

 <!--
                                            <div id="id_MEXQ_partex_period_container display_hide">
                                                <div class="flex_container pt-2">
                                                    <div class="flex_1">
                                                        <span>
                                                            <input id="id_MEXQ_partex_period1_checkbox" type="checkbox" value="true" class="tw_032">
                                                            <label for="id_MEXQ_partex_period1_checkbox" class="mr-2 my-1">{% trans 'Central exam' %}</label>
                                                        </span>
                                                    </div>
                                                    <div class="flex_1">
                                                        <span>
                                                            <input id="id_MEXQ_partex_period2_checkbox" type="checkbox" value="true" class="tw_032 ml-2">
                                                            <label for="id_MEXQ_partex_period2_checkbox" class="mr-2 my-1">{% trans 'Re-examination' %}</label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
-->
                                            <div class="flex_container pt-2">
                                                <div class="flex_1 pr-1">
                                                    <button id="id_MEXQ_btn_partex_save" class="btn btn-block btn-outline-secondary">{% trans 'OK' %}</button>
                                                </div>
                                                <div class="flex_1 pl-1">
                                                    <button id="id_MEXQ_btn_partex_cancel" class="btn btn-block btn-outline-secondary">{% trans 'Cancel' %}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="tab_show tab_assign tab_keys tab_answers display_hide">

                        <div class="flex_container">

                            <div class="flex_3 flex_container">
<div id="id_MEXQ_partex2_container">
                                <div class="flex_2 p-2 tab_show tab_assign tab_keys tab_answers display_hide">
                                    <label class="mx-2 my-1">{% trans 'Partial exams' %}:</label>
                                    <table class="tsa_tbl border_bg_transparent tbl_partex_h280_w_auto">
                                        <tbody id="id_MEXQ_tblBody_partex2"></tbody>
                                    </table>
                                </div>
</div>
                                <div id="id_MEXQ_col_0" class="flex_1 p-2"></div>
                                <div id="id_MEXQ_col_1" class="flex_1 p-2"></div>
                                <div id="id_MEXQ_col_2" class="flex_1 p-2"></div>
                                <div id="id_MEXQ_col_3" class="flex_1 p-2"></div>
                                <div id="id_MEXQ_col_4" class="flex_1 p-2"></div>

                            </div>
                        </div>
                    </div>

                    <div class="tab_show tab_assign display_hide">
                        <div class="mx-2">
                            <small>{% trans 'Enter the maximum score, or - in case of multiple choice - the letter of the last option.' %}</small>
                        </div>
                        <div class="mx-2 display_hide">
                            <small>{% trans "When the maximum score of a multiple choice question is greater than 1, you must add it after the letter (e.g.: 'D4')." %}</small>
                        </div>
                    </div>
                    <div class="tab_show tab_keys display_hide">
                        <div class="mx-2">
                            <small>{% trans "Enter one or more letters of the correct answers of the multiple choice questions (e.g.: 'be')." %}</small>
                        </div>
                    </div>
                    <div class="tab_show tab_answers display_hide">
                        <div class="mx-2">
                            <small>{% trans "Enter the letter of the answer in case of a multiple choice question, enter the score in case of an open question." %}</small><br>
                            <small>{% trans "Enter 'x' when an answer is blank or - in case of a multiple choice question - multiple answers are entered." %}</small><br>
                            <small>{% trans "A multiple choice question is indicated with an * after the question number." %}</small>
                        </div>
                    </div>
                    <div class="tab_show tab_assign tab_keys display_hide">
                        <div class="mx-2">
                            <small>{% trans 'Click ENTER, TAB or &#8595; to go to the next question or click SHIFT+TAB or &#8593; to go to the previous one.' %}</small>
                        </div>
                    </div>
                <div class="mx-2 mt-2">
                    <small id="id_MEXQ_msg_modified"></small>
                </div>
                </div>
                <div class="modal-footer">
                    {% if is_requsr_admin %}
                        <div class="flex_3">
                            <div id="id_MEXQ_btn_tab_container" class="btn-group btn-block px-2 my-2" role="group" aria-label="Choose option" >
                                <button data-btn="tab_start" class="btn btn-secondary">{% trans 'Start' %}</button>
                                <button data-btn="tab_assign" class="btn btn-secondary">{% trans 'Questions' %}</button>
                                <button data-btn="tab_minscore" class="btn btn-secondary display_hide">{% trans 'Min. score' %}</button>
                                <button data-btn="tab_keys" class="btn btn-secondary">{% trans 'Keys' %}</button>
                            </div>
                        </div>
                    {% endif %}

                    <div class="flex_2">
                        <div id="id_MEXQ_btn_pge_container" class="btn-group btn-block px-2 my-2 display_hide" role="group" aria-label="Choose option" >
                            <button data-btn="pge_1" class="btn btn-secondary">1-50</button>
                            <button data-btn="pge_2" class="btn btn-secondary display_hide"></button>
                            <button data-btn="pge_3" class="btn btn-secondary display_hide "></button>
                            <button data-btn="pge_4" class="btn btn-secondary display_hide "></button>
                            <button data-btn="pge_5" class="btn btn-secondary display_hide "></button>
                        </div>
                    </div>
                    <div class="content_subheader_right_flex2">
                        <button class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MEXQ_btn_save"  class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>