 {% load i18n %}
{% load static %}

 <!-- =================== MODAL SUBJECT  =================== -->
    <div class="modal" id="id_mod_subject" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MSUBJ_header" class="modal-title mx-2" ></h4>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body py-2">
                    <div id="id_MSUBJ_form_controls" class="mx-">
                        <div id="id_MSUBJ_loader" class="image_container visibility_hide">
                            <img src="{% static 'img/loader.gif' %}" height="24" width="24">
                        </div>

                        <div class="flex_container">
                            <div class="flex_3 mx-1">
                                <div class="flex_container">
                                    <div class="flex_1 mx-1">
                                        <label for="id_MSUBJ_code" class="mx-2">{% trans 'Abbreviation' %}:</label>
                                        <input id="id_MSUBJ_code" type="text" data-field="code"
                                        class="form-control awp_input_text"
                                        autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                    </div>
                                    <div class="flex_1 mx-1 ">
                                        <label for="id_MSUBJ_sequence" class="mx-2">{% trans 'Sequence' %}:</label>
                                        <input id="id_MSUBJ_sequence" type="text" data-field="sequence"
                                        class="form-control awp_input_text"
                                        autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                    </div>

                                </div>
                                <div class="flex_container">
                                    <div class="flex_1 mx-2">
                                        <small id="id_MSUBJ_msg_code" class="text-danger "></small>
                                    </div>
                                    <div class="flex_1 mx-2">
                                        <small id="id_MSUBJ_msg_sequence" class="text-danger "></small>
                                    </div>

                                </div>

                                <div class="flex_container">
                                    <div class="flex_1 mx-1 mt-2">
                                        <label for="id_MSUBJ_name" class="mx-2">{% trans 'Name' %}:</label>
                                        <input id="id_MSUBJ_name" type="text" data-field="name_nl"
                                        class="form-control awp_input_text"
                                        autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                    </div>
                                </div>

                                <div class="flex_container">
                                    <div class="flex_1 mx-2">
                                        <small id="id_MSUBJ_msg_name_nl" class="text-danger "></small>
                                    </div>
                                </div>
                                <div class="flex_container">
                                    <div class="flex_1 mx-1 mt-2">
                                        <label for="id_MSUBJ_name_en" class="mx-2">{% trans 'Name in English (optional)' %}:</label>
                                        <input id="id_MSUBJ_name_en" type="text" data-field="name_en"
                                        class="form-control awp_input_text"
                                        autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                    </div>
                                </div>

                                <div class="flex_container">
                                    <div class="flex_1 mx-2">
                                        <small id="id_MSUBJ_msg_name_en" class="text-danger "></small>
                                    </div>
                                </div>

                                <div class="flex_container">
                                    <div class="flex_1 mx-1 mt-2">
                                        <label for="id_MSUBJ_name_pa" class="mx-2">{% trans 'Name in Papiamentu (optional)' %}:</label>
                                        <input id="id_MSUBJ_name_pa" type="text" data-field="name_pa"
                                        class="form-control awp_input_text"
                                        autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                    </div>
                                </div>

                                <div class="flex_container">
                                    <div class="flex_1 mx-2">
                                        <small id="id_MSUBJ_msg_name_pa" class="text-danger "></small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex_1 mx-2">
                                <label class="mx-2">{% trans 'Departments with this subject' %}:</label>
                                <div class="tbl_h140_w240 form-control">
                                    <table class="table tsa_tbl">
                                        <tbody id="id_MSUBJ_tblBody_department">
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="mx-3 mt-2">
                            <small id="id_MSUBJ_msg_modified"></small>
                        </div>
                    </div>

                    <div id="id_MSUBJ_message_container">
                    </div>

                </div>

                <div class="modal-footer">
                    <div class="content_subheader_left mx-1 tab_show tab_update display_hideX">
                        <button id="id_MSUBJ_btn_delete"  data-dismiss="modal" class="btn btn-outline-danger">{% trans 'Delete subject' %}</button>
                        <button id="id_MSUBJ_btn_log" class="btn btn-outline-secondary" >{% trans 'Show logfile' %}</button>
                    </div>
                    <div class="content_subheader_right">
                        <button id="id_MSUBJ_btn_cancel" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MSUBJ_btn_save" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>