{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block stylesheet %}
   <link rel="stylesheet" href="{% static 'css/awpr_table.css' %}">
{% endblock %}

{% block script %}
  <script src="{% static 'js/subjects/schemeitem_list.js' %}"></script>
{% endblock %}

{% block modal %}
<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="id_modal_cont" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
      <div class="modal-content">

        <div id="id_mod_div_header" class="modal-header">
          <h4 id="id_mod_header" class="modal-title mx-2" >{% trans 'Subject characteristics' %}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div id="id_div_mod_flex" class="mod_flex">
            <!-- <div  class="mx-4"> -->
                <div class="form-group">
                    <label for="id_select_sjtp" class="mx-2">{% trans 'Subject type' %}:</label>
                    <select id="id_select_sjtp" class="form-control " size="7">
                    </select>
                </div>
            <!-- </div> -->

            <div id="id_sel_input" class="mx-2">
              <div class="form-group">
                  <label for="id_select_grtp" class="mx-2">{% trans 'Grade type' %}:</label>
                  <select id="id_select_grtp" class="form-control " size="2">
                  </select>
              </div>
              <div class="md-form mb-2">
                <label for="id_weightSE">{% trans 'SE weighing factor' %}: </label>
                <input id="id_weightSE"type="number"  class="ml-2" min="0" max="2" value="1">
              </div>
              <div class="md-form mb-2">
                <label for="id_weightCE">{% trans 'CE weighing factor' %}: </label>
                <input id="id_weightCE" type="number" class="ml-2" min="0" max="1" value="1">
              </div>

              <div id="id_sel_checkbox">

              </div>

            </div>
          </div>

          <div id="id_mod_body_msg" class="mx-2"></div>

        </div>

        <div class="modal-footer">
          <div id="id_mod_ftr_msg"></div>
          <button id="id_mod_btn_cancel" type="button"  class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
          <button id="id_mod_btn_del" type="button"  class="btn btn-outline-danger">{% trans 'Remove' %}</button>
          <button id="id_mod_btn_ok" type="button" class="btn btn-primary">{% trans 'OK' %}</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<!--
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">AWP online</a></li>
    <li class="breadcrumb-item">{{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">{{ user.examyear_str }}
      {% if user.examyear_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">{{ scheme.name }}</li>
    <li class="breadcrumb-item active">{% trans 'Scheme-items' %}</li>
  </ol>
-->
{% endblock %}

{% block content %}
  {% if user.enable_schemes_view %}
    <h4 id="id_schemeitem_header" >{% trans 'Subject-scheme subjects' %}</h4>

    <div id="id_sel" class="search_container">
      <div id="id_sel_header" class="search_container_header">
        <p><b>{% trans 'Select subject scheme' %}</b> </p>
      </div>
      <div id="id_sel_tables" class="search_table_div"></div>
      <p>{% trans 'Select department and leerweg/sector or profiel to select subject scheme.' %}  </p>
    </div>

    <div id="id_ssi" class="search_container">
      <div id="id_ssi_header" class="search_container_header">
        <p><b>{% trans 'Scheme items' %}</b> </p>
      </div>
      <div id="id_ssi_tables" class="search_table_div"></div>
      <p>{% trans 'Click available subject to add to scheme, click scheme subject to remove it fom scheme.' %}  </p>
    </div>

    <div id="id_data"
          data-ajax_schemeitems_download_url= "{% url 'ajax_schemeitems_download_url' %}"
          data-ajax_ssi_upload_url= "{% url 'ajax_ssi_upload_url' %}"
          data-deps= "{{ deps }}"
          data-levels= "{{ levels }}"
          data-sectors= "{{ sectors }}"
          data-txt_btn_add= "{% trans 'Add' %}"
          data-txt_btn_save= "{% trans 'Save' %}"
          data-txt_btn_ok= "{% trans 'OK' %}"
          data-txt_btn_remove=  "{% trans 'Remove' %}"
          data-chk_mand_cap="{% trans 'Subject is mandatory' %}"
          data-chk_mand_tlt="{% trans 'This subject cannot be mandatory, because it already exists in this scheme.' %}"
          data-chk_comb_cap="{% trans 'Subject is combination subject' %}"
          data-chk_chal_cap="{% trans 'Choice combination allowed' %}"
          data-chk_prac_cap="{% trans 'Subject has practical exam' %}"

          data-txt_sel_dep=  "{% trans 'Department' %}"

          data-msg_mand01= "{% trans 'This subject already exists in the scheme as a mandatory subject.' %}"
          data-msg_mand02= "{% trans 'Mandatory subjects can only occur once in a scheme.' %}"
          data-msg_ftr01= "{% trans 'Select a subject type and grade type, set the characteristics and click' %}"
          data-msg_del01= "{% trans 'This subject wil be removed from the scheme.' %}"
          data-err_msg01= "{% trans 'An error occurred.' %}"
          data-err_msg02= "{% trans 'This subject is not added to the scheme.' %}"
          data-err_msg03= "{% trans 'The characteristics of this subject are not updated.' %}"
          data-err_msg04= "{% trans 'This subject is not removed from the scheme.' %}"
    ></div>

  {% else %}
    <div class="alert alert-danger">{{ user.message_schemes_view }}</div>
    <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}

{% endblock %}l>