{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home_url' %}">AWP online</a></li>
    <li class="breadcrumb-item">{{ sector.examyear.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">{{ sector.examyear }}
      {% if user.examyear_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item"><a href="{% url 'sector_list_url' %}">{% trans 'Sectors' %}</a></li>
    <li class="breadcrumb-item">{{ sector.name }}</li>
    <li class="breadcrumb-item active">Delete</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_schemes_modify %}
    <form method="post" novalidate>
      {% csrf_token %}
       <input type="hidden" name="next" value="{{ next }}">
        <h4>{% trans 'Delete sector:' %} {{ sector.name }}</h4>
        <p>Are you sure you want to delete sector {{ object }}?</p>
      <button type="submit" class="btn btn-outline-danger"  name='delete_this' value='DelThis'>Yes, delete</button>
      <a href="{% url 'sector_list_url' %}" class="btn btn-outline-primary">No, cancel</a>
    </form>
  {% else %}
    <div class="alert alert-danger">{{ user.message_schemes_modify }}</div>
    <a href="{% url 'home_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}