{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Subjects' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/subjects210822.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="awp_sidebar">
        <div class="content_subheader_left mx-2 my-4">
            <h5>{% trans 'Subjects' %}</h5>
        </div>
        {% if not no_access %}
            <div class="tw_200 m-2 tab_show tab_btn_subject tab_btn_scheme tab_btn_schemeitem tab_btn_subjecttype display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Department' %}:</h6>
                <select id="id_SBR_select_department" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_level" class="tw_200 m-2 tab_show tab_btn_scheme tab_btn_schemeitem tab_btn_subjecttype display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Leerweg' %}:</h6>
                <select id="id_SBR_select_level" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_sector" class="tw_200 m-2 tab_show tab_btn_scheme tab_btn_schemeitem tab_btn_subjecttype display_hide">
                <h6 id="id_SBR_select_sector_label" class="tw_200 line_height_normal px-2">{% trans 'Sector' %} / {% trans 'Profiel' %}:</h6>
                <select id="id_SBR_select_sector" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_showall" class="tw_200 m-2 tab_show tab_btn_subject tab_btn_scheme tab_btn_schemeitem tab_btn_subjecttype display_hide">
                <h6 id="id_SBR_select_showall" class="tw_200 pointer_show line_height_normal px-2 py-1">{% trans 'Show all' %}</h6>
            </div>

            <div class="tw_200 m-2">
                <p id="id_SBR_item_count" class="tw_200 line_height_normal py-1"></p>
            </div>
        {% endif %}

    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div id="id_content">
        {% if no_access %}
            {% include 'includes/message_noaccess.html' %}
        {% else %}
            {% include 'includes/modselectexamyearordepbase.html' %}
            {% include 'includes/modselectschoolsubjectstudent.html' %}
            {% include 'includes/modselectcolumns.html' %}
            {% include 'includes/modmessage.html' %}
            {% include 'includes/modconfirm.html' %}
            {% include 'subjects/modsubject.html' %}
            {% include 'subjects/modsubjecttype.html' %}
            {% include 'subjects/modsubjecttypebase.html' %}
            {% include 'subjects/modschemeitem.html' %}


            <div class="content_margin_top78">
                {% include 'includes/messages.html' %}
    <!-- header_text left -->
                <div class="flex_4 mx-4 visibility_hide">
                    <h5 id="id_hdr_left"></h5>
                </div>
    <!-- loader -->
                <div class="flex_1 py-2">
                    {% include 'includes/loader.html' %}
                </div>
    <!-- header_text right -->
                <div class="flex_2 mx-4 visibility_hide">
                    <h5 id="id_hdr_textright1"></h5>
                </div>
                <div class="flex_2 mx-4 visibility_hide">
                    <h5 id="id_hdr_textright2"></h5>
                </div>
            </div>

<!-- BUTTON GROUP -->
            <div id="id_btn_container" class="btn-group btn-block pl-2 pr-4 my-2" role="group" aria-label="Choose option" >
                <button data-btn="btn_subject" class="btn btn-secondary ">{% trans 'Subjects' %}</button>
                <button data-btn="btn_scheme" class="btn btn-secondary">{% trans 'Subject schemes' %}</button>
                <button data-btn="btn_schemeitem" class="btn btn-secondary">{% trans 'Subject scheme subjects' %}</button>
                <button data-btn="btn_subjecttype" class="btn btn-secondary">{% trans 'Characters' %}</button>
                <button data-btn="btn_subjecttypebase" class="btn btn-secondary">{% trans 'Base characters' %}</button>
                <button data-btn="btn_package" class="btn btn-secondary display_hide">{% trans 'Subject packages' %}</button>
            </div>

    <!-- CONTENT BODY -->
    <!-- =================== DATA TABLE  =================== -->
            <div id="id_tbl_container" class="content_body ml-2 mt-2 mr-4">
                <table class="table tsa_tbl">
                    <thead id="id_tblHead_datatable"></thead>
                    <tbody id="id_tblBody_datatable"></tbody>
                </table>
            </div>
<!-- END OF CONTENT BODY -->
            <div id="id_data"
                data-url_datalist_download="{% url 'url_datalist_download' %}"
                data-url_settings_upload="{% url 'url_settings_upload' %}"
                data-subject_upload_url="{% url 'subject_upload_url' %}"
                data-subjecttype_upload_url="{% url 'subjecttype_upload_url' %}"
                data-subjecttypebase_upload_url="{% url 'subjecttypebase_upload_url' %}"
                data-scheme_upload_url="{% url 'scheme_upload_url' %}"
                data-schemeitem_upload_url="{% url 'schemeitem_upload_url' %}"
                data-url_download_scheme_xlsx="{% url 'url_download_scheme_xlsx' %}"
            >
            </div>
        {% endif %}
    </div>
{% endblock %}