{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Subjects' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/subjects210127.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="awp_sidebar">
        <div class="content_subheader_left tab_show tab_init mx-2 my-4">
            <h5>{% trans 'Subjects' %}</h5>
        </div>
        {% if not no_access %}
        {% endif %}
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div id="id_content">
        {% if no_access %}
            {% include 'includes/message_noaccess.html' %}
        {% else %}
            {% include 'schools/modselectexamyear.html' %}
            {% include 'schools/modselectschoolordep.html' %}
            {% include 'includes/modconfirm.html' %}
            {% include 'subjects/modsubject.html' %}

            <div class="content_margin_top78">
    <!-- CONTENT HEADER - LOADER -->
            <!-- awp messages -->
                <div id="id_awpmsg_container"></div>

                <div class="content_header flex_container">
                <div id="id_submenu" class="awp_navbar_submenuXX display_hideXX mt-5">
                </div>
        <!-- header_text -->
                    <div class="content_subheader_left mx-4">
                        <h5 id="id_hdr_text"></h5>
                    </div>
        <!-- loader -->
                    <div class="content_header_middle ">
                        <div id="id_loader" class="image_container visibility_hideXX">
                            <img src="{% static 'img/loader.gif' %}" class="icon_24">
                        </div>
                    </div>
                </div>
            <!-- end content_header -->
    <!-- BUTTON GROUP -->
                <div id="id_btn_container" class="btn-group btn-block mx-2 my-2" role="group" aria-label="Choose option" >
                    <button data-btn="subject" class="btn btn-secondary ">{% trans 'Subjects' %}</button>
                    <button data-btn="scheme" class="btn btn-secondary ">{% trans 'Subject schemes' %}</button>
                    <button data-btn="department" class="btn btn-secondary ">{% trans 'Departments' %}</button>
                    <button data-btn="level" class="btn btn-secondary ">{% trans 'Levels' %}</button>
                    <button data-btn="sector" class="btn btn-secondary ">{% trans 'Sectors' %}</button>
                </div>
    <!-- end BUTTON GROUP -->
    <!-- END OF CONTENT HEADER -->

    <!-- CONTENT BODY -->
            <div class="content_body ml-2 mr-0">
    <!-- =================== DATA TABLE  =================== -->
                <table class="table tsa_tbl">
                    <thead id="id_tblHead_datatable"></thead>
                    <tbody id="id_tblBody_datatable"></tbody>
                </table>
    <!-- =================== END DATA TABLE  =================== -->
            </div>
    <!-- END OF CONTENT BODY -->
            </div>
            <div id="id_data"
                data-datalist_download_url="{% url 'datalist_download_url' %}"
                data-settings_upload_url="{% url 'settings_upload_url' %}"
                data-subject_upload_url="{% url 'subject_upload_url' %}"
                data-subject_import_url="{% url 'subject_import_url' %}"
            >
            </div>
        {% endif %}
    </div>

{% endblock %}