{% extends 'base.html' %}
{% load i18n %}

{% block menu_block %}{% with menu=menus.user %}{% include "menu.html" %}{% endwith %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home_url' %}">AWP online</a></li>
    <li class="breadcrumb-item"><a href="{% url 'country_list_url' %}">{% trans 'Countries' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'country_edit_url' country.pk %}">{{ country.name }}</a></li>
    <li class="breadcrumb-item active">{% trans 'Log' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_country_modify %}
    <h4>{% trans 'Log of ' %}{{ country.name }}</h4>
    <table class="table table table-condensed">
      <thead class="thead-inverse">
        <tr>
          <th>{% trans 'Country' %}</th>
          <th>{% trans 'Abbreviation' %}</th>
          <th>{% trans 'Locked' %}</th>
          <th>{% trans 'Modified by' %}</th>
          <th>{% trans 'Modified at' %}</th>
          <th>{% trans 'Action' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in countries_log.all %}
          <tr>
            <td>
              {% if item.name_mod %}<b>{% endif %}
              {{ item.name }}</b>
            </td>
            <td>
              {% if item.abbrev_mod %}<b>{% endif %}
              {{ item.abbrev }}</b>
            </td>
            <td>
              {% if item.locked_mod %}<b>{% endif %}
              {{ item.locked_str }}</b>
            </td>
            <td>{{ item.modified_by }}</td>
            <td>{{ item.modified_at }}</td>
            <td>{{ item.mode_str }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'country_list_url' %}" class="btn btn-outline-primary">{% trans 'Close' %}</a>
  {% else %}
    <div class="alert alert-danger">{{ user.message_country_modify }}</div>
    <a href="{% url 'home_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}l>