{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home_url' %}">AWP online</a></li>
    <li class="breadcrumb-item active">{% trans 'Countries' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_country_view %}
    {% if user.enable_country_modify %}
      <div class="mb-3"><a  href="{% url 'country_add_url' %}" class="btn btn-primary">{% trans 'Add country' %}</a></div>
    {% endif %}
    <h4>{% trans 'Countries' %}</h4>
    <table class="table table table-condensed">
      <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>{% trans 'Country' %}</th>
          <th>{% trans 'Abbreviation' %}</th>
          <th>{% trans 'Modified by' %}</th>
          <th>{% trans 'Modified at' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in countries.all %}
          <tr>
            <td>
              {% if user.enable_country_modify %}<a href="{% url 'country_lock_url' item.pk %}">{% endif %}
                <img src="{% if item.locked %}{% static 'img/padlock.gif' %}{% else %}{% static 'img/unlocked.gif' %}{% endif %}" height="16" width="16">
              </a>
            </td>
            <td>
              {% if user.enable_country_modify and not item.locked %}
                <a href="{% url 'country_edit_url' item.pk %}">
              {% endif %}
                {{ item.name }}
              </a>
            </td>
            <td>{{ item.abbrev }}</td>
            <td>{{ item.modified_by }}</td>
            <td>{{ item.modified_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-danger">{{ user.message_country_view }}</div>
    <a href="{% url 'home_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}