{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home_url' %}">AWP online</a></li>
    <li class="breadcrumb-item"><a href="{% url 'country_list_url' %}">{% trans 'Countries' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'country_edit_url' country.pk %}">{{ country.name }}</a></li>
    <li class="breadcrumb-item active">{% trans 'Lock' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_country_modify %}
    <form method="post" novalidate>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">

      {% if country.locked %}
        <h4>{% trans 'Unlock country' %} {{ country.name }}</h4>
        <p>Are you sure you want to unlock country {{ country.name }}?</p>
        <button type="submit" class="btn btn-success"  name='delete_this' value='UnlockThis'>{% trans 'Yes, unlock' %}</button>
      {% else %}

        <h4>{% trans 'Lock country' %} {{ country.name }}</h4>
        <p>Are you sure you want to lock country {{ country.name }}?</p>
        <button type="submit" class="btn btn-outline-danger"  name='delete_this' value='LockThis'>{% trans 'Yes, lock' %}</button>
      {% endif %}
      <a href="{% url 'country_list_url' %}" class="btn btn-outline-primary">{% trans 'No, cancel' %}</a>
    </form>
  {% else %}
    <div class="alert alert-danger">{{ user.message_country_modify }}</div>
    <a href="{% url 'home_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}