{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">AWP online</a></li>
    <li class="breadcrumb-item">{{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">{{ user.examyear }}
      {% if user.examyear_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item"><a href="{% url 'department_list_url' %}">{% trans 'Departments' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'department_edit_url' department.pk %}">{{ department.abbrev }}</a></li>
    <li class="breadcrumb-item active">{% trans 'Log' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_default_items_modify %}
    <h4>{% trans 'Log of:' %} {{ department.name }}</h4>
    <table class="table table table-condensed">
      <thead class="thead-inverse">
        <tr>
          <th>{% trans 'ID' %}</th>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Abbreviation' %}</th>
          <th>{% trans 'Sequence' %}</th>
          <th>{% trans 'Level required' %}</th>
          <th>{% trans 'Sector required' %}</th>
          <th>{% trans 'Modified by' %}</th>
          <th>{% trans 'Modified at' %}</th>
          <th>{% trans 'Action' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in department_log.all %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{% if item.name_mod %}<b>{% endif %}{{ item.name }}</b></td>
            <td>{% if item.abbrev_mod %}<b>{% endif %}{{ item.abbrev }}</b></td>
            <td>{% if item.sequence_mod %}<b>{% endif %}{{ item.sequence }}</b></td>
            <td>{% if item.level_req_mod %}<b>{% endif %}{{ item.level_req_str }}</b></td>
            <td>{% if item.sector_req_mod %}<b>{% endif %}{{ item.sector_req_str }}</b></td>
            <td>{{ item.modified_by }}</td>
            <td>{{ item.modified_at }}</td>
            <td>{{ item.mode_str }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'department_list_url' %}" class="btn btn-outline-primary">{% trans 'Close' %}</a>
  {% else %}
    <div class="alert alert-danger">{{ user.message_default_items_modify }}</div>
    <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}l>