{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">AWP online</a></li>
    <li class="breadcrumb-item">{{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item"><a href="{% url 'examyear_list_url' %}">{% trans 'Exam years' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Add' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_examyear_modify %}
    <form method="post" novalidate>
        {% csrf_token %}
         <input type="hidden" name="next" value="{{ next }}">
        <h3>{% trans 'Add exam year' %}</h3>
        {% include 'includes/form.html' %}
        <div class="mb-3">
          <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
          <a href="{% url 'examyear_list_url' %}" class="btn btn-outline-secundary">{% trans 'Cancel' %}</a>
        </div>
    </form>
  {% else %}
    <div class="alert alert-danger">{{ user.message_examyear_modify }}</div>
    <a href="{% url 'examyear_list_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}