{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">AWP online</a></li>
    <li class="breadcrumb-item">{{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item"><a href="{% url 'examyear_list_url' %}">{% trans 'Exam years' %}</a></li>
    <li class="breadcrumb-item active"> {{ examyear.examyear }}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_examyear_modify %}
    <form method="post" novalidate>
      {% csrf_token %}
       <input type="hidden" name="next" value="{{ next }}">
      <h4>{% trans 'Edit exam year ' %}{{ examyear.examyear }}</h4>
      {% include 'includes/form.html' %}
      <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
      <a href="{% url 'examyear_log_url' examyear.pk %}" class="btn btn-outline-primary">{% trans 'View log' %}</a>
      <a href="{% url 'examyear_delete_url' examyear.pk %}" class="btn btn-outline-danger">{% trans 'Delete' %}</a>
      <a href="{% url 'examyear_list_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
    </form>
  {% else %}
    <div class="alert alert-danger">{{ user.message_examyear_modify }}</div>
    <a href="{% url 'examyear_list_url' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}