{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Exam years' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/examyears210816.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="awp_sidebar">
        <div class="content_subheader_left tab_show tab_init mx-2 my-4">
            <h5>{% trans 'Exam years' %}</h5>
        </div>
        {% if not no_access %}
            <div class="tw_200 mx-2 mt-2 mb-4 display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Select exam year' %}:</h6>
                <input id="id_SBR_examyear"
                    type="text"
                    class="tw_200 border_none pointer_show px-2"
                    readonly>
            </div>
        {% endif %}

    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div id="id_content">
        {% if no_access %}
            {% include 'includes/message_noaccess.html' %}
        {% else %}
            {% include 'includes/modselectexamyearordepbase.html' %}
            {% include 'includes/modselectschoolsubjectstudent.html' %}
            {% include 'includes/modconfirm.html' %}
            {% include 'schools/modexamyear.html' %}

            <div class="content_margin_top78">
                {% include 'includes/messages.html' %}

                <div class="content_header flex_container">
        <!-- header_text -->
                    <div class="flex_4 mx-4 visibility_hide">
                        <h5 id="id_hdr_left"></h5>
                    </div>
        <!-- loader -->
                    <div class="flex_1 py-2">
                        {% include 'includes/loader.html' %}
                    </div>
        <!-- header_text -->
                    <div class="flex_2 mx-4 visibility_hide">
                        <h5 id="id_hdr_textright1"></h5>
                    </div>
                    <div class="flex_2 mx-4 visibility_hide">
                        <h5 id="id_hdr_textright2"></h5>
                    </div>
                </div>
            </div>
            <!-- end content_header -->
    <!-- BUTTON GROUP -->
                <div id="id_btn_container" class="btn-group btn-block mx-2 my-2" role="group" aria-label="Choose option" >
                    <button data-btn="examyear" class="btn btn-secondary ">{% trans 'Exam years' %}</button>
                </div>
    <!-- end BUTTON GROUP -->
    <!-- END OF CONTENT HEADER -->

    <!-- CONTENT BODY -->
            <div id="id_tbl_container" class="content_body ml-2 mr-0">
    <!-- =================== DATA TABLE  =================== -->
                <table class="table tsa_tbl">
                    <thead id="id_tblHead_datatable"></thead>
                    <tbody id="id_tblBody_datatable"></tbody>
                </table>
    <!-- =================== END DATA TABLE  =================== -->
            </div>
    <!-- END OF CONTENT BODY -->
            <div id="id_data"
                data-url_datalist_download="{% url 'url_datalist_download' %}"
                data-url_settings_upload="{% url 'url_settings_upload' %}"
                data-url_examyear_upload="{% url 'url_examyear_upload' %}"
                data-url_examyear_copytosxm="{% url 'url_examyear_copytosxm' %}"
                data-url_school_upload="{% url 'url_school_upload' %}"
            >
            </div>
        {% endif %}
    </div>

{% endblock %}