{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Messages' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/mailbox210927.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="awp_sidebar">
        <div class="content_subheader_left mx-2 my-4">
            <h5>{% trans 'Messages' %}</h5>
        </div>
        {% if not no_access %}
            <div class="tw_200 m-2">
                <p id="id_SBR_item_count" class="tw_200 line_height_normal py-1"></p>
            </div>
        {% endif %}
    </nav>
{% endblock %}
<!-- END SIDE BAR -->


{% block content %}
    <div id="id_content">
        {% if no_access %}
            {% include 'includes/message_noaccess.html' %}
        {% else %}
            {% include 'includes/modmessage.html' %}
            {% include 'includes/modconfirm.html' %}
            {% include 'schools/modmailmessage.html' %}

            <div class="content_margin_top78">

<!-- CONTENT HEADER - LOADER -->
        <!-- submenu -->
                <div class="content_header flex_container">
                    <div id="id_submenu" class="awp_navbar_submenuXX mt-5">
                    </div>
        <!-- header_text -->
                    <div class="flex_4 pl-4 py-2">
                    </div>
            <!-- loader -->
                    <div class="flex_1 py-2">
                        {% include 'includes/loader.html' %}
                    </div>
            <!-- right header_text -->
                    <div class="flex_4 py-2">
                        <h5 id="id_hdr_textright1"></h5>
                    </div>
                </div>

<!-- BUTTON GROUP -->
                <div id="id_btn_container" class="btn-group btn-block pl-2 pr-4 my-2" role="group" aria-label="Choose option" >
                    <button data-btn="btn_received" class="btn btn-secondary ">{% trans 'Received messages' %}</button>
                    <button data-btn="btn_sent" class="btn btn-secondary ">{% trans 'Sent messages' %}</button>
                    <button data-btn="btn_draft" class="btn btn-secondary ">{% trans 'Draft messages' %}</button>
                    <button data-btn="btn_mailinglist" class="btn btn-secondary">{% trans 'Mailing lists' %}</button>

                </div>
<!-- end BUTTON GROUP -->

<!-- CONTENT BODY -->
                <div id="id_tbl_container" class="content_body ml-2 mr-0">
        <!-- =================== DATA TABLE  =================== -->
                    <table class="table tsa_tbl pl-0 pr-4 my-2">
                        <thead id="id_tblHead_datatable"></thead>
                        <tbody id="id_tblBody_datatable"></tbody>
                    </table>
        <!-- =================== END DATA TABLE  =================== -->
                </div>
            </div>

            <div id="id_data"
                data-url_datalist_download="{% url 'url_datalist_download' %}"
                data-url_settings_upload="{% url 'url_settings_upload' %}"
            >
        </div>
    {% endif %}
    </div>
{% endblock %}