 {% load i18n %}
{% load static %}

 <!-- =================== MODAL CREATE EXAMYEAR  =================== -->
    <div class="modal" id="id_mod_create_examyear" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MCREY_header" class="modal-title mx-2" ></h4>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body py-2">
                    <div class="modal_containerXX">
<!-- modal_body_right contains input elements -->
                        <div id="id_MCREY_form_controls" class="mx-">
                            <div id="id_MCREY_loader" class="image_container visibility_hide">
                                <img  src="{% static 'img/loader.gif' %}" height="24" width="24">
                            </div>

                                <div class="flex_container">
                                    <div class="flex_3 mx-1">

                                        <div class="flex_container">
                                            <div class="flex_3 mx-4">
                                                <label for="id_MCREY_examyear_code" class="mx-2">{% trans 'Exam year' %}:</label>
                                                <input id="id_MCREY_examyear_code" data-field="examyear_code"
                                                class="form-control awp_input_text" disabled
                                                autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                            </div>
                                        </div>
                                        <div class="flex_container">
                                            <div class="flex_3 mx-2">
                                                <small id="id_MCREY_msg_examyear" class="text-danger "></small>
                                            </div>
                                        </div>
                                         <div id="id_MCREY_msg_container"></div>
                                    </div>
                                </div>
                                <div class="mx-3 mt-2">
                                    <small id="id_MCREY_msg_modified"></small>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <div class="content_subheader_right">
                        <button id="id_MCREY_btn_cancel" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MCREY_btn_save" class="btn btn-primary"></button>
                    </div>

                </div>
            </div>
        </div>
    </div>