{% load i18n %}
{% load static %}

 <!-- =================== MODAL EXAMPAPAER  =================== -->
     <div class="modal" id="id_mod_exampaper" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">

                <div class="modal-header tsa_bc_lightlightgrey">
                    <a href="{% url 'manual_url' 'mailbox' 'id_mailbox_create_message' %}" target="_blank" title="{% trans 'Open manual' %}" aria-label="Manual"> <div class="questionmark"></div> </a>

                    <h4 id="id_MEXPAPER_header" class="modal-title mx-2" >{% trans 'Upload document' %}</h4>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div id="id_MEXPAPER_input_container" class="flex_container">
                        <div class="flex_2 mx-2">

                            <div class="p-2">
                                <div class="display_hide">
                                    <input id="id_MEXPAPER_filedialog" type="file" name="file" class="mb-0" accept=".pdf">
                                </div>
                                <div class="content_subheader_left">
                                    <button id="id_MEXPAPER_btn_filedialog" class="btn btn-secondary mx-2 pt-2">{% trans 'Open file' %}</button>
                                </div>
                                <div class="content_header">
                                    <div class="content_subheader_left my-2">
                                        <div id="id_MEXPAPER_filename" class="form-control mx-2 pt-2"></div>
                                    </div>
                                </div>

                                <label for="id_MEXPAPER_input_title" class="label_margin_top_m2">{% trans 'Title of the document' %}:</label>
                                <input id="id_MEXPAPER_input_title" type="text" class="form-control mx-2 pr-4"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;">

                                <label for="id_MEXPAPER_input_date_published" class="label_margin_top_m2">{% trans 'Date published' %}:</label>
                                <input id="id_MEXPAPER_input_date_published" type="date" class="form-control mx-2 pr-4"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;">
                            </div>

                            <div id="id_MEXPAPER_msg_container" class="ml-3 my-2">
                            </div>

                            <div id="id_MEXPAPER_loader" class="display_hide">
                                <div class="image_container p-0">
                                    <img src="{% static 'img/loader.gif' %}" class="icon_24">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="content_subheader_right">
                        <button id="id_MEXPAPER_btn_cancel" class="btn btn-outline-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MEXPAPER_btn_save" class="btn btn-primary">{% trans 'Upload' %}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>