{% load i18n %}
{% load static %}

 <!-- =================== MODAL MAIL MESSAGE  =================== -->
     <div class="modal" id="id_mod_mailmessage" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">

                <div class="modal-header tsa_bc_lightlightgrey">
                    <a href="{% url 'manual_url' 'mailbox' 'id_mailbox_create_message' %}" target="_blank" title="{% trans 'Open manual' %}" aria-label="Manual"> <div class="questionmark"></div> </a>

                    <h4 id="id_MMM_header" class="modal-title mx-2" >{% trans 'Create message' %}</h4>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div id="id_MMM_input_container" class="flex_container">
                        <div class="flex_1 mx-2">
                            <div id="id_MMM_tblBody_mailinglist_container" class="mb-2 border_bg_transparent">
                                <h6 class="mb-0 p-2">{% trans 'Send to mailing list' %}...</h6>
                                <table class="table tsa_tbl mb-0 pb-0 tbl_studsubj_h_w_auto">
                                    <tbody id="id_MMM_tblBody_mailinglist">
                                    </tbody>
                                </table>
                            </div>

                            <div class="mb-2 border_bg_transparent">
                                <h6 id="id_MMM_tblBody_organization_label" class="mb-0 p-2">{% trans 'Send to organizations' %}...</h6>
                                <table id="id_MMM_tblBody_organization_table" class="table tsa_tbl tbl_studsubj_h_w_auto mb-0">
                                    <tbody id="id_MMM_tblBody_organization">
                                    </tbody>
                                </table>
                                <div id="id_MMM_tblBody_usergroup_container"  class="mb-2 border_bg_transparentX">
                                    <h6 id="id_MMM_tblBody_usergroup_label" class="m-2">{% trans 'Only to usergroup' %}...</h6>
                                    <table id="id_MMM_tblBody_usergroup_table" class="table tsa_tbl tbl_studsubj_h_w_auto mb-0 pb-0">
                                        <tbody id="id_MMM_tblBody_usergroup">
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="id_MMM_tblBody_user_container" class="border_bg_transparent">
                                <h6 class="mb-0 m-2">{% trans 'Send to users' %}...</h6>
                                <table class="table tsa_tbl  tbl_studsubj_h_w_auto">
                                    <tbody id="id_MMM_tblBody_user" >
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="flex_2 mx-2 border_bg_message">
                            <div class="pt-2 pr-3">
                                <input id="id_MMM_input_title" type="text" class="form-control mx-2 pr-4"
                                    placeholder="{% trans 'Title of this message'%}..."
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;">
                            </div>
                            <div class="pr-3">
                                <textarea id="id_MMM_input_message" rows="12" class="form-control m-2 pr-4"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
                                    placeholder="{% trans 'Type your message here'%}..."></textarea>
                            </div>
                            <div id="id_MMM_loader" class="display_hide">
                                <div class="image_container p-0">
                                    <img src="{% static 'img/loader.gif' %}" class="icon_24">
                                </div>
                            </div>
                            <div id="id_MMM_attachment_container" class="px-2">
                            </div>
                            <div id="id_MMM_add_attachment" class="px-2">
                                <div class="note_flex_1 mr-0 mb-2 pointer_show">
                                    <div class="c_form_text m-0 p-2">{% trans 'Add attachment' %}</div>
                                </div>
                            </div>
                            <input id="id_MMM_filedialog" type="file" class="display_hide">

                            <div class=" mx-3">
                                <small id="id_MMM_msg_error" class="text-danger"></small>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <div class="content_subheader_left mx-2">
                        <button id="id_MMM_btn_delete" data-dismiss="modal" class="btn btn-outline-danger">{% trans 'Delete message' %}</button>
                    </div>
                    <div class="content_subheader_right">
                        <button id="id_MMM_btn_cancel" class="btn btn-outline-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MMM_btn_save" class="btn btn-secondary">{% trans 'Save' %}</button>
                        <button id="id_MMM_btn_send" class="btn btn-primary">{% trans 'Send' %}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>