 {% load i18n %}
{% load static %}

 <!-- =================== MODAL SCHOOL  =================== -->
    <div class="modal" id="id_mod_school" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MSCH_header" class="modal-title mx-2" ></h4>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div id="id_MSCH_form_controls" class="modal-body py-2">
                    <div id="id_MSCH_loader" class="image_container visibility_hide">
                        <img  src="{% static 'img/loader.gif' %}" height="24" width="24">
                    </div>

                    <div id="id_MSCH_defaultrole_container" class="mx-2" >
                        <div>
                            <label class="mx-2">{% trans 'Type of organization' %}:</label>
                            <select id="id_MSCH_defaultrole" data-field="defaultrole" class="form-control">
                            </select>
                        </div>
                        <div class="mx-2">
                             <small id="id_MSCH_msg_defaultrole" class="text-danger"></small>
                        </div>
                    </div>

                    <div class="flex_container">
                        <div class="flex_4 mx-1">
                            <div class="flex_container">
                                <div class="flex_1 mx-1">
                                    <label for="id_MSCH_code" class="label_margin_top_m2">{% trans 'Code' %}:</label>
                                    <input id="id_MSCH_code" type="text" data-field="code" class="form-control"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                </div>
                                <div class="flex_4 mx-1 ">
                                    <label for="id_MSCH_abbrev" class="label_margin_top_m2">{% trans 'Short name' %}:</label>
                                    <input id="id_MSCH_abbrev" type="text" data-field="abbrev" class="form-control"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                </div>
                            </div>

                            <div class="flex_container">
                                <div class="flex_1 mx-2">
                                    <small id="id_MSCH_msg_code" class="text-danger "></small>
                                </div>
                                <div class="flex_4 mx-2">
                                    <small id="id_MSCH_msg_abbrev" class="text-danger"></small>
                                </div>
                            </div>

                            <div class="flex_container">
                                <div class="flex_1 mx-1">
                                    <label for="id_MSCH_article" class="label_margin_top_m2">{% trans 'Article' %}:</label>
                                    <select id="id_MSCH_article" data-field="article" class="form-control">
                                        <option value="">-</option>
                                        <option value="de">de</option>
                                        <option value="het">het</option>
                                    </select>
                                </div>
                                <div class="flex_4 mx-1">
                                    <label for="id_MSCH_name" class="label_margin_top_m2">{% trans 'Name' %}:</label>
                                    <input id="id_MSCH_name" type="text" data-field="name" class="form-control"
                                    autocomplete="off" ondragstart="return false;" ondrop="return false;">
                                </div>
                            </div>

                            <div class="flex_container">
                                <div class="flex_1 mx-2">
                                    <small id="id_MSCH_msg_article" class="text-danger "></small>
                                </div>
                                <div class="flex_4 mx-2">
                                    <small id="id_MSCH_msg_name" class="text-danger"></small>
                                </div>
                            </div>
                        </div>

                        <div class="flex_1 mx-2">
                            <div class="label_margin_top_m2">{% trans 'Departments of this school' %}:</div>
                            <div class="tbl_h128_w220 form-control">
                                <table class="table tsa_tbl mb-0">
                                    <tbody id="id_MSCH_tbody_select_department">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="flex_container">
                        <div class="flex_4 mx-1 mt-2">
                            <label class="label_margin_top_m2">{% trans 'Day school / Evening school / Landsexamen' %}</label>
                            <select data-field="dayevelex" class="form-control">
                                <option value="day">{% trans 'Day school' %}</option>
                                <option value="eve"> {% trans 'Evening school' %}</option>
                                <option value="dayeve"> {% trans 'Day- Evening school' %}</option>
                                <option value="lex"> {% trans 'Landsexamen' %}</option>
                            </select>
                        </div>
                        <div class="flex_2 mx-1 mt-2">
                            <label for="id_MSCH_otherlang" class="label_margin_top_m2">{% trans 'Other language' %}:</label>
                            <select id="id_MSCH_otherlang" data-field="otherlang" class="form-control">
                                <option value="none">{% trans 'None' %}</option>
                                <option value="en">{% trans 'English' %}</option>
                                <option value="pa">{% trans 'Papiamentu' %}</option>
                            </select>
                        </div>
                    </div>
                    <div class="mx-3 mt-2">
                        <small id="id_MSCH_msg_modified"></small>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="content_subheader_left mx-1 tab_show tab_update display_hideX">
                        <button id="id_MSCH_btn_delete"  data-dismiss="modal" class="btn btn-outline-danger">{% trans 'Delete school' %}</button>
                        <button id="id_MSCH_btn_log" class="btn btn-outline-secondary" >{% trans 'Show logfile' %}</button>
                    </div>
                    <div class="content_subheader_right">
                        <button id="id_MSCH_btn_cancel" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button id="id_MSCH_btn_save" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>