{% extends 'base.html' %}
{% load i18n %} {% load l10n %}
{% load static %}

{% block title %}{% trans 'Orderlists' %}{% endblock %}

{% block script %}
    <script src="{% static 'js/orderlists240628.js' %}"></script>
{% endblock %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="awp_sidebar">
        <div class="sidebar_header">
            <h3>{% trans 'Orderlists' %}</h3>
        </div>
        {% if not no_access %}
            <div class="tw_200 m-2 tab_show tab_btn_envelopsubject display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Exam period' %}:</h6>
                <select id="id_SBR_select_period" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>
            <div class="tw_200 m-2 tab_show tab_btn_envelopsubject display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Department' %}:</h6>
                <select id="id_SBR_select_department" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>
            <div id="id_SBR_container_level" class="tw_200 m-2 tab_show tab_btn_envelopsubject display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Learning path' %}:</h6>
                <select id="id_SBR_select_level" class="tw_200 border_none px-1"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
               ></select>
            </div>

            <div id="id_SBR_container_subject" class="tw_200 m-2 tab_show tab_btn_envelopsubject display_hide">
                <h6 class="tw_200 line_height_normal px-2">{% trans 'Subject' %}:</h6>
                <input id="id_SBR_select_subject" type="text"
                    class="tw_200 border_none pointer_show px-2" readonly>
            </div>

            <div id="id_SBR_container_showall" class="tw_200 m-2 tab_show tab_btn_envelopsubject display_hide">
                <h6 id="id_SBR_select_showall" class="tw_200 pointer_show line_height_normal px-2 py-1">{% trans 'Show all' %}</h6>
            </div>

            <div class="tw_200 m-2">
                <p id="id_SBR_item_count" class="tw_200 line_height_normal py-1"></p>
            </div>
        {% endif %}
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
    <div id="id_content">
        {% if no_access %}
            {% include 'includes/message_noaccess.html' %}
        {% else %}
            {% include 'includes/modselectexamyearordepbase.html' %}
            {% include 'includes/modselectschoolsubjectstudent.html' %}
            {% include 'includes/modselectcolumns.html' %}
            {% include 'includes/modmessage.html' %}
            {% include 'includes/modconfirm.html' %}
            {% include 'schools/modorderlistextra.html' %}
            {% include 'schools/modpublishorderlist.html' %}
            {% include 'subjects/modenvelopitem.html' %}
            {% include 'subjects/modenveloplabel.html' %}
            {% include 'subjects/modenvelopprint.html' %}

            <div class="content_margin_top78">
    <!-- CONTENT HEADER - LOADER -->
                <div class="content_header flex_container">
                    <div id="id_submenu" class="awp_navbar_submenuXX mt-5">
                </div>
                    <div class="flex_4 mx-4 visibility_hide">
                        <h5 id="id_header_left"></h5>
                    </div>
        <!-- loader -->
                    <div class="flex_1">
                        <div id="id_loader" class="image_container visibility_hide">
                            <img src="{% static 'img/loader.gif' %}" class="icon_24">
                        </div>
                    </div>
        <!-- header_text -->
                    <div class="flex_2 mx-4 visibility_hide">
                        <h5 id="id_hdr_textright1"></h5>
                    </div>
                    <div class="flex_2 mx-4 visibility_hide">
                        <h5 id="id_hdr_textright2"></h5>
                    </div>
                </div>
            <!-- end content_header -->
    <!-- BUTTON GROUP -->
                <div id="id_btn_container" class="btn-group btn-block pl-2 pr-4 my-2" role="group" aria-label="Choose option" >
                    <button data-btn="btn_orderlist" class="btn btn-secondary ">{% trans 'Orderlist' %}</button>
                    <button data-btn="btn_envelopsubject" class="btn btn-secondary ">{% trans 'Subjects with label bundle' %}</button>
                    <button data-btn="btn_bundle" class="btn btn-secondary ">{% trans 'Label bundles' %}</button>
                    <button data-btn="btn_label" class="btn btn-secondary ">{% trans 'Labels' %}</button>
                    <button data-btn="btn_item" class="btn btn-secondary ">{% trans 'Label text' %}</button>
                </div>
    <!-- end BUTTON GROUP -->
    <!-- END OF CONTENT HEADER -->

    <!-- CONTENT BODY -->
    <!-- =================== DATA TABLE  =================== -->
            <div id="id_tbl_container" class="content_body mx-2 mt-2 pr-4">
                <table class="table tsa_tbl">
                    <thead id="id_tblHead_datatable"></thead>
                    <tbody id="id_tblBody_datatable"></tbody>
                </table>
            </div>
    <!-- =================== STUDENT SUBJECTS  =================== -->

    <!-- END OF CONTENT BODY -->
            </div>
            <div id="id_data"
                data-url_datalist_download="{% url 'url_datalist_download' %}"
                data-url_usersetting_upload="{% url 'url_usersetting_upload' %}"
                data-orderlist_download_url="{% url 'orderlist_download_url' '-' %}"
                data-orderlist_per_school_download_url="{% url 'orderlist_per_school_download_url' %}"
                data-url_orderlist_parameters="{% url 'url_orderlist_parameters' %}"
                data-url_orderlist_request_verifcode="{% url 'url_orderlist_request_verifcode' %}"
                data-url_orderlist_publish="{% url 'url_orderlist_publish' %}"

                data-url_envelopsubject_upload="{% url 'url_envelopsubject_upload' %}"
                data-url_envelopbundle_upload="{% url 'url_envelopbundle_upload' %}"
                data-url_enveloplabel_upload="{% url 'url_enveloplabel_upload' %}"
                data-url_envelopitem_upload="{% url 'url_envelopitem_upload' %}"

                data-url_envelop_print_check="{% url 'url_envelop_print_check' %}"
                data-url_envelop_print="{% url 'url_envelop_print' '-' %}"
                data-url_envelop_receipt="{% url 'url_envelop_receipt' '-' %}"
                data-url_exam_upload="{% url 'url_exam_upload' %}"
            >
            </div>
        {% endif %}
    </div>

{% endblock %}