{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">AWP online</a></li>
    <li class="breadcrumb-item">{{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">{{ user.examyear }}
      {% if user.examyear_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item"><a href="{% url 'school_list_url' %}">{% trans 'Schools' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Add new' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_schools_add_delete %}
    <h3>Add school</h3>
    <form method="post" novalidate>
      {% csrf_token %}
       <input type="hidden" name="next" value="{{ next }}">
      {% include 'includes/form.html' %}
      <button type="submit" class="btn btn-success">Save</button>
      <a href="{% url 'school_list_url' %}" class="btn btn-outline-primary">Cancel</a>
    </form>
  {% else %}
    <div class="alert alert-danger">{{ user.message_schools_modify }}</div>
    <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}