{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block breadcrumb %}
  <ol class="breadcrumb my-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">AWP online</a></li>
    <li class="breadcrumb-item">{{ user.country }}
      {% if user.country_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item">{{ user.examyear_str }}
      {% if user.examyear_locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
    </li>
    <li class="breadcrumb-item active">{% trans 'Schools' %}</li>
  </ol>
{% endblock %}

{% block content %}
  {% if user.enable_schools_view %}
    {% if user.enable_schools_add_delete %}
      <div class="mb-3">
        <a href="{% url 'school_add_url' %}" class="btn btn-primary">{% trans 'Add school' %}</a>
      </div>
    {% endif %}

        <h4>{% trans 'Schools' %} {{ user.country.name }} {{ user.examyear }}</h4>

        <table class="table table table-condensed">
          <thead class="thead-inverse">
            <tr>
              <th>{% trans 'Schoolcode' %}</th>
              <th>{% trans 'Schoolname' %}</th>
              <th>{% trans 'Abbreviation' %}</th>
              <th>{% trans 'Article' %}</th>
              <th>{% trans 'Departments' %}</th>
              <th>{% trans 'Is template' %}</th>
              <th>{% trans 'Locked' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for item in schools.all %}
              <tr>
                <td>{{ item.code }}</td>
                <td>
                  {% if user.enable_schools_modify %}
                    <a href="{% url 'school_edit_url' item.pk %}">{{ item.name }}</a>
                  {% else %}
                    <a>{{ item.name }}</a>
                  {% endif %}
                  {% if item.locked %}<img src="{% static 'img/padlock.gif' %}" height="16" width="16">{% endif %}
                </td>
                <td>{{ item.abbrev}}</td>
                <td>{{ item.article}}</td>
                <td>{{ item.depbase_list_str}}</td>
                <td>{{ item.is_template_str}}</td>
                <td>{{ item.locked_str }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  {% else %}
    <div class="alert alert-danger">{{ user.message_schools_view }}</div>
    <a href="{% url 'home' %}" class="btn btn-outline-primary">{% trans 'Cancel' %}</a>
  {% endif %}
{% endblock %}l>