{% load i18n %}
{% load static %}

<div class="fixed-top">
    <!-- NAVBAR 1 -->
    <nav class="navbar navbar-expand-md awp_navbar {{class_bg_color}}">
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar2">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item awp_navbar_item {{class_bg_color}} m-0 p-0">
                    <a class="nav-link awplogo" href="{% url 'home_url' %}"></a>
                </li>
            </ul>
        </div>

        <div id="collapsibleNavbar1" class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav">
                <li id="id_hdrbar_examyear" class="nav-item awp_navbar_item {{class_bg_color}} mr-0 pr-0">
                    <div>{{examyear_code}}</div>
                </li>
                <li id="id_hdrbar_examyear_locked" class="nav-item awp_navbar {{class_bg_color}} ml-0 mt-1">
                    {% if examyear_locked %}
                        <div class="stat_0_6"></div>
                    {% else %}
                        <div class="stat_0_0"></div>
                    {% endif %}
                </li>
                {% if display_department %}
                    <li id="id_hdrbar_department" class="nav-item awp_navbar_item {{class_bg_color}}">
                        {{department}}
                    </li>
                {% endif %}
                {% if display_school %}
                    <li id="id_hdrbar_school" class="nav-item awp_navbar_item {{class_bg_color}}">
                        {{school}}
                    </li>
                {% endif %}
                <li id="id_hdrbar_school_locked" class="nav-item awp_navbar {{class_bg_color}} ml-0 mt-1">
                    <div class="stat_0_0"></div>
                </li>
            </ul>
        </div>
        <div id="collapsibleNavbar2"  class="navbar-collapse collapse order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a id="userMenu" class="awp_navbaritem_may_select {{class_bg_color}} dropdown-toggle"
                           href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{ user.username_sliced }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userMenu">
                            {% if auth_list and False %}
                                {% for auth in auth_list %}
                                    <button id="{{ auth.usergroup }}" class="dropdown-item {{ auth.color_class }}">{{ auth.function }}</button>
                                {% endfor %}
                                <div class="dropdown-divider"></div>

                            {% endif %}
                            {% if 'permit_userpage' in permit_list %}
                                <a class="dropdown-item" href="{% url 'users_url' %}" >{% trans 'Users' %}</a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'password_change' %}">{% trans 'Change password' %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'language_set_url' 'nl' %}"> {% trans 'Dutch' %}</a>
                            <a class="dropdown-item" href="{% url 'language_set_url' 'en' %}">{% trans 'English' %}</a>
                        </div>
                    </li>
                    <li>
                        <a class="awp_navbaritem_may_select {{class_bg_color}}" href="{% url 'logout' %}" >{% trans 'Logout' %}</a>
                    </li>
                {% else %}
                    <li >
                        <a class="awp_navbaritem_may_select {{class_navbar_bg_color}}" href="{% url 'login' %}" >{% trans 'Login' %}</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'page_mailbox_url' %}">
                            <div id="id_hdrbar_has_mail" class="{{class_has_mail}}"></div>
                        </a>
                    </li>
                {% endif %}
                <li>
                     <!-- <a href="{% url 'manual_url' 'intro' 'intro' %}" target="_blank"> <div class="questionmark"></div> </a>-->
                    {% if page and paragraph %}
                         <a href="{% url 'manual_url' page paragraph %}" target="_blank"> <div class="questionmark"></div> </a>
                    {% else %}
                         <a href="{% url 'manual_url' 'home' 'intro' %}" target="_blank"> <div class="questionmark"></div> </a>
                    {% endif %}

                </li>
            </ul>
        </div>

    </nav>

        <nav class="navbar navbar-expand-md navbar-light bg-light py-1">
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsible_testbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="collapsible_testbar" class="menubar_navbar navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <div>
                {% if user.is_authenticated %}
                    {% for menu_item in menu_items %}
                        <svg height="{{menu_item.height}}" width="{{menu_item.width}}" class="svg_menu_item">
                            <a href="{{menu_item.href}}">
                                <polygon points="{{menu_item.points}}" class="{{menu_item.class}}"></polygon>
                                <text x="{{menu_item.x}}"
                                    y="{{menu_item.y}}"
                                    fill="{{menu_item.fill}}"
                                    text-anchor="middle"
                                    alignment-baseline="middle">
                                        {{menu_item.caption}}
                                </text>
                            </a>
                        </svg>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </nav>

<!-- MENU BAR -->
    <nav id="id_menubar" class="navbar navbar-expand-md awp_nav_bg_submenu pt-0 pb-2">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#id_submenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="id_submenu" class="collapse navbar-collapse awp_navbar_submenu" >
        </div>
    </nav>

</div>
