{% load i18n %}
{% load static %}

  {% if not user.is_authenticated %}
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">
                  {% trans 'Home' %}
              </a>
            </li>
          </ul>
      </div>
    </nav>

  {% else %}

    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">

          <div  class="d-flex flex-wrap" id="id_dflex" 
              data-user_settings = '{{ user.user_settings | safe }}'
              data-download_submenus_url= "{% url 'download_submenus_url' %}"
              >
            {% for menu_item in menu_items %}
                <svg id="{{menu_item.svg_index}}" height="{{menu_item.height}}" width="{{menu_item.width}}">
                    <a href="{{menu_item.href}}" >
                        <polygon id="'id_plg' +{{menu_item.index}}" points="{{menu_item.points}}" style="{{menu_item.style}}"></polygon>
                        <text id="'id_txt' +{{menu_item.index}}"
                            x="{{menu_item.x}}"
                            y="{{menu_item.y}}"
                            fill="{{menu_item.fill}}"
                            text-anchor="middle"
                            alignment-baseline="middle">
                                {{menu_item.caption}}
                        </text>
                    </a>
                </svg>
            {% endfor %}

          </div> <!-- class="d-flex flex-wrap"  -->
        </div>  <!--  class="collapse navbar-collapse"  -->
      </div> <!-- class=container -->
    </nav>


    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
          <div  class="d-flex flex-wrap" id="id_dflex_sub" >
              <ul id="id_ul_submenu" class="navbar-nav mr-auto">

<!--
                <li class="nav-item active">
                    <img src="{% static 'img/hourglass.gif' %}" href="{% url 'home' %}" height="16" width="16">
                </li>
-->
                {% for sub_item in sub_items %}
                    {% if sub_item.dropdown %}
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="https://example.com" id="drdo_students" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans 'Students' %}
                          </a>
                          <div class="dropdown-menu" aria-labelledby="drdo_students">
                            <a class="dropdown-item" href="{% url 'student_list_url' %}">{% trans 'Students' %}</a>
                            <a class="dropdown-item" href="{% url 'result_list_url' %}">{% trans 'Student results' %}</a>
                            <a class="dropdown-item" href="{% url 'studentsubject_url' %}">{% trans 'Student subjects' %}</a>
                            <a class="dropdown-item" href="{% url 'grade_list_url' %}">{% trans 'Student grades' %}</a>
                          </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="{{sub_item.class}}" href="{{sub_item.href}}">
                                {{sub_item.caption}}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

              </ul>
          </div>  <!--  class="d-flex flex-wrap"  -->
      </div> <!-- class=container -->
    </nav>

  {% endif %}
