{% load i18n %}
{% load static %}

<!-- =================== MODAL IMPORT  =================== -->
    <div class="modal" id="id_mod_import" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">

                <div class="modal-header tsa_bc_lightlightgrey">
                    <a href="{% url 'manual_url' 'upload' 'intro' %}" target="_blank" title="{% trans 'Open manual' %}" aria-label="Manual"> <div class="questionmark"></div> </a>
                    <h4 id="id_MIMP_header" class="modal-title mx-2" ></h4>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div class="modal_body_right mx-4 mt-2 mb-0">
                    <div id="id_MIMP_btn_container" class="btn-group btn-block m-2" role="group" aria-label="Choose option" >
                        <button data-btn_index="1" class="btn btn-secondary"></button>
                        <button data-btn_index="2" class="btn btn-secondary"></button>
                        <button data-btn_index="3" class="btn btn-secondary"></button>
                        <button data-btn_index="4" class="btn btn-secondary"></button>
                        <button data-btn_index="5" class="btn btn-secondary"></button>
                        <button data-btn_index="6" class="btn btn-secondary"></button>
                    </div>
                </div>
                <div id="id_MIMP_body" class="mx-4 my-2">
                    <h4 id="id_MIMP_step_text" class="mx-4 my-0"></h4>

<!-- STEP 1 -->
                    <div class="ta_l mx-4 btn_show btn_step1 display_hide">
                        <label id="id_MIMP_filedialog_label" class="m-2"></label>
                        <div class="display_hide">
                            <input id="id_MIMP_filedialog" type="file" name="file" class="mb-0" accept=".xlsx, .xls, csv">
                        </div>
                        <div class="content_subheader_left mx-4">
                            <button id="id_MIMP_btn_filedialog" class="btn btn-secondary">{% trans 'Open an Excel file' %}</button>
                        </div>
                        <div class="content_header">
                            <div class="content_subheader_left mx-4 my-2">
                                <div id="id_MIMP_filename" class="form-control pt-2"></div>
                            </div>
                            <div class="content_subheader_left mx-2 my-0"></div>
                        </div>

                        <div class="m-0 px-4 py-0" >
                            <small id="id_MIMP_msg_filedialog" class="text-danger"></small>
                        </div>

                        <label class="mx-2 mt-3 mb-2">B. {% trans 'Select a worksheet' %}:</label>
                        <div class="content_header">
                            <div class="content_subheader_left mx-4">
                                <select id="id_MIMP_worksheetlist" class="form-control mb-0"
                                autocomplete="off" ondragstart="return false;" ondrop="return false;"></select>
                            </div>
                            <div class="content_subheader_left mx-2 my-0"></div>
                        </div>

                        <div class="content_header">
                            <div class="content_subheader_left mx-4 my-0">
                                <small id="id_msg_worksheet" class="text-danger display_hide"></small>
                            </div>
                        </div>

                        <label class="mx-2 mt-3 mb-2">C. {% trans 'Select if the worksheet has a header row:' %}</label>
                        <div class="content_subheader_left mx-4">
                            <span>
                                <input id="id_MIMP_hasheader" type="checkbox" value="true" class="tw_032">
                                <label for="id_MIMP_hasheader" class="mx-2 my-1">{% trans 'Worksheet has a header row' %}</label>
                            </span>
                         </div>
                    </div>

<!-- STEP 2 -->
                    <div class="ta_l mx-4 btn_show btn_step2 display_hide">
                        <label class="label_margin_top_m2">{% trans 'Select the grade type of the exam you want to upload' %}:</label>
                        <select id="id_MIMP_examgradetype" class="form-control">
                        </select>

                    </div>

<!-- STEP 3 -->
                    <div class="mx-4 mt-2 btn_show btn_step3 display_hide">
                        <div class="mx-2"><small>{% trans "Click corresponding names in the left and right list to link an Excel column to an AWP-column." %}</small></div>
                        <div class="mx-2"><small >{% trans "Click linked names in the lower list to unlink these columns." %}</small></div>
                        <div id="id_MIMP_msg_dontlinksubjects" class="mx-2"><small><b>{% trans "You don't have to link the subjects yet." %}</b> {% trans "They will be linked in the next step." %}</small></div>
                        <div class="mx-2"><small id="id_MIMP_msg_linkrequired"></small></div>

                        <div id="id_MIMP_crosstab_container" class="mx-4 mt-2 display_hide">
                            <h6 class="mx-2 mt-2">{% trans "Select if each subject has a separate column, or all subjects are in one column 'Subject':" %}</h6>
                            <span>
                                <input id="id_MIMP_crosstab" type="checkbox" value="true" class="tw_032">
                                <label for="id_MIMP_crosstab" class="mx-2 my-0">{% trans "Each subject has a separate column." %}</label>
                            </span>
                            <span>
                                <input id="id_MIMP_tabular" type="checkbox" value="true" class="tw_032">
                                <label for="id_MIMP_tabular" class="mx-2 my-0">{% trans "All subjects are in one column 'Subject'." %}</label>
                            </span>
                        </div>

                        <div class="flex_container mt-2">
                            <div class="flex_1 awp-columnsXX m-2">
                                <table class="tsa_tbl_unlinked" width="100%">
                                    <thead class="tsa_tbl_hdr_unlinked">
                                        <tr><th class="ta_c">{% trans 'AWP columns' %}</th></tr>
                                    </thead>
                                    <tbody id="id_MIMP_tbody_coldef_awp" data-AEL="awp" data-table="coldef">
                                        <tr><td class="px-2">{% trans 'AWP columns' %}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="flex_1 excel-columnsXX m-2">
                                <table class="tsa_tbl_unlinked" width="100%">
                                    <thead class="tsa_tbl_hdr_unlinked">
                                        <tr><th class="ta_c">{% trans 'Excel columns' %}</th></tr>
                                    </thead>
                                    <tbody id="id_MIMP_tbody_coldef_exc" data-AEL="exc" data-table="coldef">
                                        <tr><td class="px-2">{% trans 'Excel columns' %}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="flex_container mt-2">
                            <div class="flex_1 m-2">
                                 <table class="tsa_tbl_linked" width="100%">
                                    <thead class="tsa_tbl_hdr_linked">
                                        <tr><th class="ta_c" colspan="2">{% trans 'Linked columns' %}</th></tr>
                                    </thead>
                                    <tbody id="id_MIMP_tbody_coldef_lnk" data-AEL="lnk" data-table="coldef">
                                        <tr>
                                            <td class="px-2">{% trans 'AWP columns' %}</td>
                                            <td class="px-2">{% trans 'Excel columns' %}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

<!-- STEP 4 -->
                    <div class="mx-4 mt-2 btn_show btn_step4 display_hide">
                        <div class="mx-2"><small>{% trans "Click corresponding names in the left and right list to link an Excel value to an AWP value." %}</small></div>
                        <div class="mx-2"><small >{% trans "Click linked values in the lower list to unlink these values." %}</small></div>

                        <div class="flex_container mt-2">
                            <div id="id_MIMP_container_department" class="display_hide">
                                <div class=" flex 1 flex_container mt-2 border_bg_transparent">
                                    <div class="m-2">
                                        <h5 class="mx-2">{% trans "Link department" %}</h5>
                                        <div class="flex_container mt-2">
                                            <div class="flex_1 m-1">
                                                <table class="tsa_tbl_unlinked" width="100%">
                                                    <thead class="tsa_tbl_hdr_unlinked">
                                                        <tr><th class="ta_c tw_150">{% trans 'AWP values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_department_awp" data-AEL="awp" data-table="department">
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="flex_1 m-1">
                                                <table class="tsa_tbl_unlinked" width="100%">
                                                    <thead class="tsa_tbl_hdr_unlinked">
                                                        <tr><th class="ta_c tw_150">{% trans 'Excel values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_department_exc" data-AEL="exc" data-table="department">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="flex_container mt-2">
                                            <div class="flex_1 m-1">
                                                 <table class="tsa_tbl_linked" width="100%">
                                                    <thead class="tsa_tbl_hdr_linked">
                                                        <tr><th class="ta_c" colspan="2">{% trans 'Linked values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_department_lnk" data-AEL="lnk" data-table="department">
                                                        <tr>
                                                            <td class="px-2">{% trans 'AWP values' %}</td>
                                                            <td class="px-2">{% trans 'Excel values' %}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="id_MIMP_container_level" class="display_hide">
                                <div class=" flex 1 flex_container mt-2 border_bg_transparent">
                                    <div class="m-2">
                                        <h5 class="mx-2">{% trans "Link 'leerwegen'" %}</h5>
                                        <div class="flex_container mt-2">
                                            <div class="flex_1 m-1">
                                                <table class="tsa_tbl_unlinked" width="100%">
                                                    <thead class="tsa_tbl_hdr_unlinked">
                                                        <tr><th class="ta_c tw_150">{% trans 'AWP values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_level_awp" data-AEL="awp" data-table="level">
                                                        <tr><td class="px-2">{% trans 'AWP values' %}</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="flex_1 m-1">
                                                <table class="tsa_tbl_unlinked" width="100%">
                                                    <thead class="tsa_tbl_hdr_unlinked">
                                                        <tr><th class="ta_c tw_150">{% trans 'Excel values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_level_exc" data-AEL="exc" data-table="level">
                                                        <tr><td class="px-2">{% trans 'Excel values' %}</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="flex_container mt-2">
                                            <div class="flex_1 m-1">
                                                 <table class="tsa_tbl_linked" width="100%">
                                                    <thead class="tsa_tbl_hdr_linked">
                                                        <tr><th class="ta_c" colspan="2">{% trans 'Linked values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_level_lnk" data-AEL="lnk" data-table="level">
                                                        <tr>
                                                            <td class="px-2">{% trans 'AWP values' %}</td>
                                                            <td class="px-2">{% trans 'Excel values' %}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="id_MIMP_container_sector" class="display_hide">
                                <div class=" flex 1 flex_container mt-2 border_bg_transparent">
                                    <div class="m-2">
                                        <h5 id="id_MIMP_header_sector" class="mx-2">{% trans "Link sectors" %}</h5>
                                        <div class="flex_container mt-2">
                                            <div class="flex_1 m-1">
                                                <table class="tsa_tbl_unlinked" width="100%">
                                                    <thead class="tsa_tbl_hdr_unlinked">
                                                        <tr><th class="ta_c tw_150">{% trans 'AWP values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_sector_awp" data-AEL="awp" data-table="sector">
                                                        <tr><td class="px-2">{% trans 'AWP values' %}</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="flex_1 m-1">
                                                <table class="tsa_tbl_unlinked" width="100%">
                                                    <thead class="tsa_tbl_hdr_unlinked">
                                                        <tr><th class="ta_c tw_150">{% trans 'Excel values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_sector_exc" data-AEL="exc" data-table="sector">
                                                        <tr><td class="px-2">{% trans 'Excel values' %}</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="flex_container mt-2">
                                            <div class="flex_1 m-1">
                                                 <table class="tsa_tbl_linked" width="100%">
                                                    <thead class="tsa_tbl_hdr_linked">
                                                        <tr><th class="ta_c" colspan="2">{% trans 'Linked values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_sector_lnk" data-AEL="lnk" data-table="sector">
                                                        <tr>
                                                            <td class="px-2">{% trans 'AWP values' %}</td>
                                                            <td class="px-2">{% trans 'Excel values' %}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="id_MIMP_container_profiel" class="display_hide">
                                <div class="flex 1 flex_container mt-2 border_bg_transparent">
                                    <div class="m-2">
                                        <h5 id="id_MIMP_header_profiel" class="mx-2">{% trans "Link profielen" %}</h5>
                                        <div class="flex_container mt-2">
                                            <div class="flex_1 m-1">
                                                <table class="tsa_tbl_unlinked" width="100%">
                                                    <thead class="tsa_tbl_hdr_unlinked">
                                                        <tr><th class="ta_c tw_150">{% trans 'AWP values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_profiel_awp" data-AEL="awp" data-table="profiel">
                                                        <tr><td class="px-2">{% trans 'AWP values' %}</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="flex_1 m-1">
                                                <table class="tsa_tbl_unlinked" width="100%">
                                                    <thead class="tsa_tbl_hdr_unlinked">
                                                        <tr><th class="ta_c tw_150">{% trans 'Excel values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_profiel_exc" data-AEL="exc" data-table="profiel">
                                                        <tr><td class="px-2">{% trans 'Excel values' %}</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="flex_container mt-2">
                                            <div class="flex_1 m-1">
                                                 <table class="tsa_tbl_linked" width="100%">
                                                    <thead class="tsa_tbl_hdr_linked">
                                                        <tr><th class="ta_c" colspan="2">{% trans 'Linked values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_profiel_lnk" data-AEL="lnk" data-table="profiel">
                                                        <tr>
                                                            <td class="px-2">{% trans 'AWP values' %}</td>
                                                            <td class="px-2">{% trans 'Excel values' %}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="id_MIMP_container_subject" class="display_hide">
                                <div class="flex 1 flex_container mt-2 border_bg_transparent">
                                    <div class="m-2">
                                        <h5 class="mx-2">{% trans "Link subjects" %}</h5>
                                        <div class="flex_container mt-2">
                                            <div class="flex_1 m-1">
                                                <table class="tsa_tbl_unlinked" width="100%">
                                                    <thead class="tsa_tbl_hdr_unlinked">
                                                        <tr><th class="ta_c tw_150">{% trans 'AWP values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_subject_awp" data-AEL="awp" data-table="subject">
                                                        <tr><td class="px-2">{% trans 'AWP values' %}</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="flex_1 m-1">
                                                <table class="tsa_tbl_unlinked" width="100%">
                                                    <thead class="tsa_tbl_hdr_unlinked">
                                                        <tr><th class="ta_c tw_150">{% trans 'Excel values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_subject_exc" data-AEL="exc" data-table="subject">
                                                        <tr><td class="px-2">{% trans 'Excel values' %}</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="flex_container mt-2">
                                            <div class="flex_1 m-1">
                                                 <table class="tsa_tbl_linked" width="100%">
                                                    <thead class="tsa_tbl_hdr_linked">
                                                        <tr><th class="ta_c" colspan="2">{% trans 'Linked values' %}</th></tr>
                                                    </thead>
                                                    <tbody id="id_MIMP_tbody_subject_lnk" data-AEL="lnk" data-table="subject">
                                                        <tr>
                                                            <td class="px-2">{% trans 'AWP values' %}</td>
                                                            <td class="px-2">{% trans 'Excel values' %}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<!-- STEP 5 - STEP 6 -->
                    <div class="ta_l mx-4 mt-2 btn_show btn_step5 btn_step6 display_hide">
                        <div class="mx-2 btn_show btn_step4 display_hide">
                            <small>{% trans "Click 'Test upload' to validate the new data and compare it with the existing database. It will not save the new data yet." %}</small>
                        </div>
                        <div class="mx-2 btn_show btn_step6 display_hide">
                            <small >{% trans "Click 'Upload' to upload and save the new data." %} {% trans "Candidates, who already exist in the database, will be skipped." %}</small>
                        </div>
                        <div class="content_subheader_left mx-2 my-2 btn_show btn_step5 display_hide">
                            <button id="id_MIMP_btn_test"  class="btn btn-secondary">{% trans 'Test upload' %}</button>
                        </div>
                        <div class="content_subheader_left mx-2 my-2 btn_show btn_step6 display_hide">
                            <button id="id_MIMP_btn_upload"  class="btn btn-secondary">{% trans 'Upload' %}</button>
                        </div>

                        <div class="flex_container mb-0">
                            <div class="flex_1">
                                <div class="ta_c">
                                    <img id="id_MIMP_loader" src="{% static 'img/loader.gif' %}" height="24" width="24" class="display_hide" >
                                </div>
                                <div id="id_MIMP_msg_container" class="border_bg_transparent m-2 p-2 display_hide">
                                    <div class="content_header">
                                        <div class="content_subheader_left">
                                            <div id="id_MIMP_result_container">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer pr-4">
                    <div class="content_subheader_left mx-1 ">
                        <div id="id_btn_container2" class="sidebar_btngroup btn-group btn-block" role="group" aria-label="Choose option" >
                            <button id="id_MIMP_btn_prev"  class="btn btn-secondary"> &lt;  {% trans 'Previous step' %}</button>
                            <button id="id_MIMP_btn_next"   class="btn btn-secondary">{% trans 'Next step' %} &gt; </button>
                        </div>
                    </div>
                    <div class="content_subheader_right">
                        <button id="id_MIMP_btn_cancel" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    </div>

                </div>

                <div id="id_MIMP_data" data-url_import_settings_upload="{% url 'url_import_settings_upload' %}"
                     data-url_importdata_upload="{% url 'url_importdata_upload' %}"
                     data-url_importstudent_upload="{% url 'url_importstudent_upload' %}"
                     data-url_importstudentsubject_upload="{% url 'url_importstudentsubject_upload' %}"
                     data-url_importgrade_upload="{% url 'url_importgrade_upload' %}"
                     data-url_importusername_upload="{% url 'url_importusername_upload' %}"></div>
            </div>
        </div>
    </div>

