{% load i18n %}
{% load static %}

<!-- =================== MODAL NOTE  =================== -->
<div class="modal" id="id_mod_note" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header tsa_bc_lightlightgrey">
                <h4 id="id_ModNote_header" class="modal-title mx-2" ></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="id_ModNote_input_container" class="mx-4 mt-4">
                <textarea id="id_ModNote_input_note" rows="4" class="form-control"
                    autocomplete="off" ondragstart="return false;" ondrop="return false;"
                    placeholder="{% trans 'Type your note here...'%}"></textarea>
                <div class="pt-2">
                    <div class="content_header">
                        <div id="id_ModNote_memo_internal" data-internal="1" class="note_flex_1 tr_hover pointer_show">
                            <div id="id_ModNote_internal_icon" class="note_1_1"></div>
                            <div class="c_form_text pr-5">{% trans 'Internal memo' %}</div>
                        </div>
                        <div id="id_ModNote_memo_external" class="note_flex_2 pointer_show mx-2">
                            <div data-icon="1" class="note_0_1 ml-2"></div>
                            <div data-icon="2" class="note_0_2"></div>
                            <div data-icon="3" class="note_0_3"></div>
                            <div id="id_ModNote_memo_icon4" data-icon="4" class="note_0_4"></div>
                            <div data-index="label" class="c_form_text">{% trans 'External memo' %}</div>
                        </div>

                        <div class="note_attachment_wrapper">
                            <div data-index="attachment" class="note_flex_1">
                                <div class="note_1_8 mx-2"></div>
                                <div class="c_form_text m-0 p-2">{% trans 'Attachment' %}</div>
                                <input id="id_ModNote_filedialog" type="file">
                            </div>
                        </div>

                        <div class="flex_1 text_align_right">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                            <button id="id_ModNote_btn_save" type="button" class="btn btn-primary">{% trans 'Save' %}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="id_ModNote_loader" class="display_hide mx-4 mt-2">
                <div class="image_container">
                    <img src="{% static 'img/loader.gif' %}" class="icon_24">
                </div>
            </div>
            <div id="id_ModNote_notes_container" class="mx-2 my-2">
                <div class="ss_note_container">
                    <div class="ss_note_titlebar">
                        <div class="ss_note_icon_modby">
                            <div class="note_1_1"></div>
                            <small>{% trans 'Internal memo' %}</small>
                        </div>
                        <div class="ss_note_btn_attment">
                            <div class="note_1_8"></div>
                            <small>{% trans 'Attachment' %}</small>
                        </div>
                    </div>

                    <div class="ss_note_textarea">
                        <textarea rows="1" class="form-control mt-2"
                            autocomplete="off" ondragstart="return false;" ondrop="return false;"
                            ></textarea>
                    </div>
                </div>

                <div class="ss_note_container pb-2">

                </div>

            </div>

            <div class="modal-footer mx-4">

            </div>

        </div>
    </div>
</div>
<!-- =================== END MODAL NOTE  =================== -->