{% load i18n %}
{% load static %}

 <!-- =================== MODAL SELECT EXAMYEAR OR DEPBASE =================== -->
    <div class="modal" id="id_mod_select_examyear_or_depbase" tabindex="-1" role="dialog" aria-labelledby="id_modal_cont_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header tsa_bc_lightlightgrey">
                    <h4 id="id_MSED_header_text"  class="modal-title mx-2" ></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="modal_container">
<!-- modal_body_left contains employee select table -->
                        <div class="modal_body_left">
                            <div class="content_subheader_left mx-1 my-1">
                                 <!-- this div is necessary to get standard structure for FilterTableRows -->
                                <!-- <div style="overflow-x:hidden;overflow-y:auto;height:400px;width:220px"> -->
                                <div class="tbl_studsubj_h_w_auto">
                                    <table class="table tsa_tbl mx-1 my-1">
                                        <tbody id="id_MSED_tblBody_select">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <div class="content_subheader_left mx-1">
                    </div>
                    <div class="content_subheader_right">
                        <button class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>