{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

  <h2 class="card-title my-5"><b>{% trans 'Welcome at AWP-online' %}</b></h2>
  <h3>{% trans 'AWP downloads' %}</h3>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>{% trans 'Description' %}</th>
          <th>{% trans 'Download' %}</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="align-left">
              {% trans 'Installation program AWP 2019.05 for MS Access 2007' %}
            </td>
            <td class="align-middle">
              <a href="{% static 'data/AWPinstall_2019_05_access2007.exe' %}" class="btn btn-primary">{% trans 'Download' %}</a>
            </td>
          </tr>
          <tr>
            <td class="align-left">
               {% trans 'Installation program AWP 2019.05 for MS Access 2010' %}
            </td>
            <td class="align-middle">
              <a href="{% static 'data/AWPinstall_2019_05_access2010.exe' %}" class="btn btn-primary">{% trans 'Download' %}</a>
            </td>
          </tr>
          <tr>
            <td class="align-left">
               {% trans 'Installation program AWP 2019.05 for MS Access 64 bit' %}
            </td>
            <td class="align-middle">
              <a href="{% static 'data/AWPinstall_2019_05_access64.exe' %}" class="btn btn-primary">{% trans 'Download' %}</a>
            </td>
          </tr>
      </tbody>
    </table>
{% endblock %}


