{% extends 'base.html' %}
{% load i18n %}
{% load static %}

<!-- SIDE BAR -->
{% block sidebar %}
    <nav id="id_sidebar" class="awp_sidebar">
        <div class="content_subheader_left tab_show tab_init mx-4 my-4">
        </div>
    </nav>
{% endblock %}
<!-- END SIDE BAR -->

{% block content %}
<div class="awp_content_container_home tsa_margin_top128_left224">

    {% if user.is_authenticated %}

        <div>
            <table class="table tsa_margin_top_72">
                    <thead >
                    <tr>
                        <th><h3>{% trans 'Welkom bij AWP-online' %}</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-left">
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>


    {% else %}
        <div class="image_containerx mx-4 my-4">
            <h1 class="card-title mx-5 my-5"><b>{% trans 'Welkom bij AWP-online' %}</b></h1>
            <h5 class="mx-5">{% trans "Klik op de knop 'Log in' rechts boven om in te loggen." %}</h5>
        </div>
        <div class="mx-5 my-4 p-4">
            <img src="{% static 'img/ETElogo.png' %}" height="260" width="480"  >
        </div>
    {% endif %}
{% endblock %}


