{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

  <h1 class="card-title mx-2 my-4"><b>{% trans 'Welcome at AWP-online' %}</b></h1>
    <table class="table">
      <thead >
        <tr>
          <th> <h3>{% trans 'Download AWP Corona versie 2020.01' %}</h3></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="align-left">
              <h6 class="my-2">{% trans "Klik op de knop 'Downloaden' om het installatie-programma te downloaden." %}</h6>
            </td>
            <td class="align-middle">
              <a href="{% static 'data/AWPinstall_2020_01b.exe' %}" class="btn btn-primary">{% trans 'Download' %}</a>
            </td>
          </tr>
       <tr>
        <td class="align-left"> <h6 class="my-2">{% trans "Als het 'Windows Defender' scherm verschijnt: klik op 'More info'." %}</h6> </td>
        <td class="align-left"> <img src="{% static 'img/WindowsDefender1.png' %}" height="112" width="240">  </td>
       </tr>
        <tr>
            <td class="align-left"> <h6 class="my-2">{% trans "Klik daarna op 'Run anyway'." %}</h6> </td>
            <td class="align-left"> <img src="{% static 'img/WindowsDefender2.png' %}" height="112" width="240"> </td>
        </tr>
        <tr>
            <td class="align-left"> <h6 class="my-2">{% trans "Als het 'User Account Control' scherm verschijnt klikt u op 'Yes'." %}</h6> </td>
            <td class="align-left">
                   <img src="{% static 'img/UserAccountControl.jpg' %}" height="180" width="240">
            </td>
        </tr>
      </tbody>
    </table>
{% endblock %}


