{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div id="id_content" class="content_margin_top78">
  {% if user.is_authenticated %}
    {% if user.is_role_adm_or_sys_and_perm_adm_or_sys %}
        <h4>{{ header }}</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required">
            <button type="submit">{{ header }}</button>
        </form>
        <hr>
        {% for row in excel_data %}
            {% for cell in row %}
                {{ cell }}&nbsp;&nbsp;
            {% endfor %}
            <br />
        {% endfor %}

        <hr>
    {% else %}
      <form class="form-inline ml-auto">
        <a href="{% url 'home_url' %}" class="btn btn-outline-secundary">{% trans "You don't have permission to view this page." %}</a>
      </form>
    {% endif %}
  {% else %}
    <form class="form-inline ml-auto">
      <a href="{% url 'login' %}" class="btn btn-outline-secundary">{% trans 'You must be logged in to view this page' %}</a>
    </form>
  {% endif %}
</div>
{% endblock %}
