<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" />
        <title>{% trans 'AWP-online manual' %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- awpr.css goes after Bootstrap reference to CSS, otherwise, the default scheme will apply. -->
        <link rel="stylesheet" href="{% static 'css/awpr220310.css' %}">
        <link rel="stylesheet" href="{% static 'css/tables220427.css' %}">
        <link rel="stylesheet" href="{% static 'css/sidebar210816.css' %}">
        <link rel="stylesheet" href="{% static 'css/manual220424.css' %}">

<!-- jQuery first, then Popper.js, then Bootstrap.js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js"></script>
        <!--  PR2018-12-02 from: https://github.com/js-cookie/js-cookie/tree/latest#readme -->
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <!--  PR2019-01-13 added, promise-polyfill to make 'promise' work in IE 11 -->
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>

    <!--  PR2019-01-13 js/base.js added, contains csrftoken for ajax-->
        <script src="{% static 'js/base220529.js' %}"></script>

    <!--  PR2021-08-24 manual.js must come first -->
        <script src="{% static 'js/manual/manual220424.js' %}"></script>
        <script src="{% static 'js/manual/man_home220320.js' %}"></script>
        <script src="{% static 'js/manual/man_users220321.js' %}"></script>
        <script src="{% static 'js/manual/man_upload220422.js' %}"></script>
        <script src="{% static 'js/manual/man_studsubj220418.js' %}"></script>
        <script src="{% static 'js/manual/man_cluster220320.js' %}"></script>
        <script src="{% static 'js/manual/man_exemption220422.js' %}"></script>
        <script src="{% static 'js/manual/man_exams220508.js' %}"></script>
        <script src="{% static 'js/manual/man_approve220418.js' %}"></script>
        <script src="{% static 'js/manual/man_mailbox220411.js' %}"></script>


    </head>

    <body class="awp_bg_offwhite">
        <header>
            <div class="fixed-top">
                <!-- NAVBAR 1 -->
                <nav class="navbar navbar-expand-md awp_navbar">
                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar2">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="collapsibleNavbar1" class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link awplogo" href="{% url 'home_url' %}"></a>
                            </li>
                            <li class="nav-item awp_navbar_item mr-0 pr-4">
                                <h5 class="pt-1">{% trans 'Manual' %}</h5>
                            </li>
                        </ul>
                    </div>
                    <button class="closeX" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </nav>
            </div>
        </header>

        <div id="id_sidenav" class="man_sidenav">
        </div>

        <div id="id_content">
        </div>

        <div id="id_data"
            data-page="{{page}}"
            data-paragraph="{{paragraph}}"
            data-lang="{{lang}}">
        </div>
        {% include 'session_security/all.html' %}
    </body>

</html>