{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="{% static 'css/awpr_table.css' %}">
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.11.8/xlsx.core.min.js"></script>

    <script src="{% static 'js//students/import_schemeitem.js' %}"></script>
    <script src="{% static 'js/tables.js' %}"></script>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.is_role_system_perm_admin %}

            <div class="c_select_file">
                <p><b>Select file</b></p>
                <p>Drag to link or unlink leerwegen</p>
                <div>
                    <input class="c_form_text" type="file" id="filedialogID" name="file" accept=".xlsx, .xls, csv">
                </div>
                <br />
                <div class="c_hide">
                    <label class="c_form_select" for="SheetListID">Select a worksheet</label>
                    <select id="SheetListID" class="c_form_select" ></select>
                </div>
                <br />
                <div>
                  <input class="c_form_text" type="checkbox" id="checkBoxID" value="false">
                  <label class="c_form_text" for="checkBoxID">Worksheet has no header row</label>
                </div>
                <br />

                <div id="div_infoID"></div>

                <button
                        id="btn_import"
                        class="submit-button"
                        type="button"
                        data-ajax_importssi_upload_url= "{% url 'ajax_importssi_upload_url' %}"
                        data-upload_student_mapping_url= "{% url 'upload_student_mapping_url' %}"
                        data-mapped_coldefs = '{{ mapped_coldefs | safe}}'
                >Click to upload the scheme items</button>

                </div>
            </div>

        <br />
        <table class="c_table_stud" id="tableID" width="100%">
            <thead id="theadID" class="c_thead"></thead>
            <tbody id="tbodyID" class="c_tbody"></tbody>
            <tfoot id="tfootID" class="c_tfoot"></tfoot>
        </table>
    {% else %}
      <form class="form-inline ml-auto">
        <a href="{% url 'home_url' %}" class="btn btn-outline-secundary">{% trans "You don't have permission to view this page." %}</a>
      </form>
    {% endif %}
  {% else %}
    <form class="form-inline ml-auto">
      <a href="{% url 'login' %}" class="btn btn-outline-secundary">{% trans 'You must be logged in to view this page' %}</a>
    </form>
  {% endif %}
{% endblock %}
